@charset "utf-8";
/* CSS Document */

.user-menu {
	float:right;
}

.menu-panel {
	background-color:#EEEEEE;
	padding:0px;
	width:100%;
}

.user-menu a, .user-menu a:hover, user-menu ul li a  {
	font-size:1em !important;
	font-family: "PT Sans" !important;
}

.sm {
	border-radius: 0px !important;
}

.panel .sm {
	z-index: 1;
}