/* Custom sheet styles */
body {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.75em;
	line-height:2;
}

.mandatory
{
	color: red;
	padding-left: 2px;
}

td #eb_top {
	height: 110px;
	background-color:#000;
}

.wrapper {
	width:960px;
	margin:auto;
	background-color:#F0F0F0;
	padding: 0px 10px 0px 10px;
	background-image:url(CCC/bg.jpg);
	background-repeat: repeat-y;
	background-position: center;
}

.ui-datepicker-trigger
{
	border:0px;
	cursor:pointer;
}

input {
  	line-height: 1.2em;
	border: 1px solid #ccc;
	padding: 4px 7px;
	outline: 0;
 }

textarea {
	border: 1px solid #ccc;
    padding: 4px 7px;
    outline: 0;
}

.required input {
	background-color:#e4f6fc;
}

#progressbar {
	margin-bottom:5px;
}

input[type=image] {
	border:none;
	background:none;
}

input:focus {  
     border-color: #0173ea;
} 

.inputHighlight {
	border-color:#CC3333;
	color:#CC3333;	
}

.ui-buttonset table {
	height:0px;
}

.ebPanelDEFAULT table {
	height:0px;
}

.button
{
	background-color: #777777;
	color: #fff; 
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	cursor: pointer;
	border:none;
	min-width:100px;
}

.fixedWidth
{
	width:150px;
}

.button:hover {
	background:#bbbbbb;
	color: #555555;
}

.smallButton
{
	background-color: #555555;
	color: #fff; 
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	cursor: pointer;
	border:none;
	font-size:1em;
	min-width:0px;
}

.smallButton:hover {
	background:#bbbbbb;
	color: #555555;
}

.smalltext {
	color: #ccc;
}

.warningText {
	color: #FF0000;
}

span#dateTime {
	color: #666666;
    font-weight: bold;
    letter-spacing: 2px;
	margin:0px;
}

/* Headings */

h1 {
	color: #666666;
	font-size:1.3em;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 0 0 20px;
    padding: 10px 0 0;
    text-align: left;
	border-bottom: 1px solid #ccc;
}

h2 {
	color: #666666;
	font-size:1.2em;
    font-weight: bold;
    letter-spacing: 2px;
	margin:0px;
}

h3 {
	color: #666666;
	font-size:1.1em;
    font-weight: bold;
    letter-spacing: 2px;
	margin:0px;
}

.smallText {
	color: #666;
	text-align: left;
	margin: 5px;	
}

.ui-autocomplete-loading {
        background: white url('shared/images/ui-anim_basic_16x16.gif') right center no-repeat;
}

.ui-widget{

}

.ui-autocomplete {
		max-height: 300px;
		width: 400px;
		overflow-y: auto;
		/* prevent horizontal scrollbar */
		overflow-x: hidden;
		/* add padding to account for vertical scrollbar */
		padding-right: 20px;
}

/**** Title Panel Style *******/

.titlePanel {
	width:100%;
}

.titleText {
	font-size: 1.1em;
	font-weight:bold;
	color: #FFFFFF;
	background-color:#4b8ac7;
	min-width: 150px;
	padding:5px 20px 5px 20px;
}

.titlePanelContent {
	background-color: #ededed;
	padding:10px;
}

.titlePanelTitlebar {
	background-color: #ededed;
}

/***** New Table Design *******/

.TableOuter
{
border-collapse:collapse;
}

.ebTableGridDEFAULT
{
border-collapse:collapse;
width:100%;
margin:auto;
}

.TableHeader
{
color:#000000;
padding:5px 0px 5px 0px;
text-align:left;
font-weight:normal;
font-style:normal;
}

.TableInfo
{
color:#777777;
padding:0px 0px 5px 0px;
text-align:left;
font-weight:normal;
font-style:normal;
}

.TableCurrentPageNum {
color:#fa0808;
}

.ebTableTrailerDEFAULT
{
color:#777777;
background-color:#FFFFFF;
text-align:left;
font-weight:normal;
font-style:normal;
}

.ebTableColumnHeaderDEFAULT
{
color:#777777;
background-color:#ededed;
text-align:left;
font-weight:bold;
font-style:normal;
padding:2px 3px 2px 3px;
}

.ebTablePattern
{
}

.ebTableAddRowDEFAULT
{
color:#000000;
background-color:#EAEABB;
text-align:left;
font-weight:normal;
font-style:normal;
}

.ebTableRowCellDEFAULT
{
border-bottom: 1px dashed #777777;
text-align:left;
vertical-align:center;
padding:3px;
}

td.ebSelectDeleteColumnClass
{
text-align:center;
}

.ebTableRowDataDEFAULT
{
color:#000000;
font-weight:normal;
font-style:normal;
}

.TableRowInfo
{
color:#000000;
padding:5px;
text-align:left;
font-weight:normal;
font-style:normal;
}

.ebGridDEFAULT
{
width:100%;
}

.ebGridStyleDEFAULT
{
width:100%;
}

.ebGridCellStyleDEFAULT
{
vertical-align:top;
}

.verticalLayoutTableDEFAULT
{
width:100%;
}


/****************************/
/****************************/

/* E-forms defaults */
.ebFormHeaderDEFAULT
{
color: #FFFFFF;
background-color:#414855;
text-align:center;
font-size:1.3em;
font-weight:bold;
font-style:normal;
margin-bottom:10px;
}

.ebPageHeaderDEFAULT
{
color: #404040;
text-align:left;
font-weight:bold;
font-style:normal;
padding:0.3em;
}

.ebPageInfoDEFAULT
{
color:#7171FF;
background-color:#FFFFFF;
text-align:left;
font-weight:normal;
font-style:normal;
padding:0.3em;
width:100%;
}

.ebPageTrailerDEFAULT
{
color:#7171FF;
background-color:#FFFFFF;
text-align:left;
font-weight:normal;
font-style:normal;
padding:0.3em;
width:100%;
}

.ebLegacyButtonTable
{
border-spacing:2px 2px ;
width:100%;
margin:0.25em 0 0.25em auto;
}

.ebPagePanel
{
width:100%;
}

.ebPanelDEFAULT
{
margin-left:0.5em;
margin-right:0.1em;
margin:0 auto 0 auto;
}

.ebGroupHeaderDEFAULT
{
	color: #ffffff;
	background-color:#4b8ac7;
	font-size: 1.2em;
	text-align:left;
	font-weight:bold;
	font-style:normal;
	margin-bottom:10px;
	padding-left:10px;
}

.ebGroupInfoDEFAULT
{
color:#7171FF;
background-color:#FFFFFF;
text-align:left;
font-weight:normal;
font-style:normal;
padding:0.3em;
width:100%;
}

.ebGroupTrailerDEFAULT
{
color:#7171FF;
text-align:left;
font-weight:normal;
font-style:normal;
padding:0.3em;
width:100%;
}

.ebGroupBorderDEFAULT
{
	border-collapse:collapse;
	width:100%;
	margin:10px 0px 20px 0px;
}

.ebGroupContentDEFAULT
{
	padding-top:10px;
}

.ebFieldGridTableDEFAULT
{

	border:none;
	width:100%;

}

.ebFieldLabelDEFAULT
{

color:#000000;
vertical-align:top;
font-weight:bold;
font-style:normal;
}

.ebFieldEditorDEFAULT
{
color:#000000;
vertical-align:top;
font-weight:normal;
font-style:normal;
}

.ebFieldHelpDEFAULT
{

color:#000000;
font-weight:normal;
font-style:normal;
vertical-align:center;
}

.ebFieldPatternDEFAULT
{
color:#000000;
vertical-align:top;
font-weight:normal;
font-style:normal;
padding-left:4px;
}

.ebFieldLabelCellDEFAULT
{
	padding:5px;
}

.ebFieldEditorCellDEFAULT
{
	text-align:left;
	vertical-align:top;
	padding:5px;
}

.ebFieldHelpCellDEFAULT
{
	text-align:left;
	vertical-align:center;
	padding:2px;
}

.ebFinalPageTable
{
width:96%;
border-collapse:collapse;
text-align:center;
}

.ebFinalPageInfo
{

color:#7171FF;
background-color:#FFFFFF;
text-align:left;
font-weight:normal;
font-style:normal;
}

.ebFinalPageHeading
{

color:#000000;
background-color:#FFFFFF;
text-align:left;
font-weight:normal;
font-style:normal;
}

.ebFinalPageMessages
{

color:#000000;
background-color:#FFFFFF;
text-align:left;
font-weight:normal;
font-style:normal;
}

.ebErrorMessageDEFAULT
{

color:#CC3333;
text-align:left;
font-weight:bold;
font-style:normal;
padding: 2px;
margin: 10px 0px 10px 0px;
}

.ebWarningMessageDEFAULT
{

color:#CC3333;
text-align:left;
font-weight:bold;
font-style:normal;
padding: 2px;
margin: 10px 0px 10px 0px;
}

.ebErrorTableMessageDEFAULT
{

color:#FFFFFF;
background-color:#0173ea;
text-align:left;
font-weight:bold;
font-style:normal;
border:solid #CCCCCC 2px;
}

.ebWarningTableMessageDEFAULT
{

color:#000000;
background-color:#FFCC00;
text-align:left;
font-weight:normal;
font-style:normal;
border:solid #CCCCCC 2px;
}

.ebInfoPopupDEFAULT
{

color:#000000;
background-color:#FFFFFF;
text-align:left;
font-weight:normal;
font-style:normal;
}

.groupPanel .tabSet{
	width: 99%;
background-color:rgb(255,255,255);
}
/***********************************
Start Control Tab
***********************************/
.tabImage
{
	height:16px;
	border:none;
background-color:rgb(255,255,255);
background-image:none;
}
/***********************************
Start Control Horizontal Menu
***********************************/
.horizontalMenu
{
	cursor: pointer;
	background-color: #F2F2F2; 
	width: 100%;
	margin: 10px 0px 10px 0px;
	border: #999999 solid 1px;
}

.pagePanelTable .horizontalMenu{
	width: 99.9%;
}

.groupPanel .horizontalMenu{
	width: 99%;
}

.horizontalMenuTopLevel
{
	background-color: #F2F2F2;
	background-image:url(images/sortDesc.png);
	background-repeat:no-repeat;
	background-position:90% 50%; 
	vertical-align: middle;
	min-width:150px;
}

.horizontalMenuTopLevel:hover
{
	background-color: #abcff8;
}

.horizontalMenuTopLevelText
{
	color: #404040;
	vertical-align: middle;
	padding: 0px 10px;
	line-height: 2.0;
}

.horizontalMenuTopLevelLeaf
{
	background-color: #F2F2F2; 
	padding: 0px;
	min-width:150px;
}

.horizontalMenuTopLevelLeaf:hover
{
	background-color:#abcff8; 
}

.horizontalMenuTopLevelLeafText
{
	color: #404040;
	line-height: 2.0;
	padding: 0px 10px;
}

.horizontalMenuTopLevelSelected
{	
	background-color: #abcff8;
	width:150px;
	background-image:url(images/sortDesc.png);
	background-repeat:no-repeat;
	background-position:90% 50%; 
}

.horizontalMenuTopLevelSelectedText
{
	font-weight:bold;
	line-height: 2.0;
	padding: 0px 10px;
}

.horizontalMenuTopLevelSelectedLeaf
{
	background-color: #abcff8;
	padding: 0px;
	min-width:150px;
}

.horizontalMenuTopLevelSelectedLeafText
{
	font-weight:bold;
	line-height: 2.0;
	padding: 0px 10px;
}

.horizontalMenuItem
{
	background-color: #F2F2F2; 
	border: #999999 solid 1px; 
	padding: 0px;	
}

.horizontalMenuTopLevel ul, .horizontalMenuItem ul, .horizontalMenuTopLevelSelected ul{
	
}

.horizontalMenuItemText
{
	color: #404040;
	padding: 0px;
	line-height: 2.0;
	padding: 0px 10px;
}

.horizontalMenuLeaf
{
	background-color: #F2F2F2; 
	border: #999999 solid 1px; 
	padding: 0px;
	min-width:150px;
}

.horizontalMenuLeaf:hover
{
	background-color: #abcff8;
}


.horizontalMenuLeafText
{
	color: #404040;
	line-height: 2.0;
	padding: 0px 10px;
}

.horizontalMenuSelected
{
	background-color: #abcff8;
	border: #999999 solid 1px;
	padding: 0px;
}

.horizontalMenuSelectedText
{
	font-weight:bold;
	line-height: 2.0;
	padding: 0px 10px;
}

.horizontalMenuSelectedLeaf
{	
	background-color: #abcff8;
	border: #999999 solid 1px;
	padding: 0px;
}

.horizontalMenuSelectedLeafText
{
	font-weight:bold;
	line-height: 2.0;
	padding: 0px 10px;
}



/***********************************
Start Control Vertical Menu
***********************************/
.verticalMenu
{
	cursor: pointer;
	background-color: #ededed;
	padding:5px;
	margin-right:10px;
	min-width:150px;
}
/****************************
Vertical Menu Dropdown level
*****************************/
.verticalMenuBackground
{
	background-color:white;
	padding:2px;
}

.verticalMenuTopLevel ul, .verticalMenuItem ul, .verticalMenuTopLevelSelected ul, .verticalMenuSelected ul{
	border-bottom: #999999 solid 1px;
}

.verticalMenuItem
{
	padding: 2px;
	background-color:white;
}

.verticalMenuItemText
{
	color: black;
	padding:5px;
}

.verticalMenuLeaf
{
	padding: 2px;
	background-color:white;
}
.verticalMenuLeafText
{
	color: black;
	padding:5px;
}
.verticalMenuSelected
{
	padding: 2px;
	background-color:rgb(255,255,153);
}
.verticalMenuSelectedText
{
	color: black;
	padding:5px;
}
.verticalMenuSelectedLeaf
{
	padding: 2px;
	background-color:rgb(255,255,153);
}
.verticalMenuSelectedLeafText
{
	color: black;
	padding:5px;
}
/*****************************
Vertical Menu Top(First)-Level
******************************/
.verticalMenuTopLevelBackground
{
	padding: 2px;
}

.verticalMenuTopLevel
{

	padding: 2px;
}

.verticalMenuTopLevel:hover
{
	padding: 2px;
}

.verticalMenuTopLevelText
{
	color: black;
	padding:5px;
}

.verticalMenuTopLevelLeaf
{
	min-width:100px;
	padding: 2px 2px;
	border-left:#999999 solid 2px;
}

.verticalMenuTopLevelLeaf:hover
{
	padding: 2px 2px;
	border-left:#4b8ac7 solid 2px;
}

.verticalMenuTopLevelLeafText
{
	color: black;
	padding:5px;
	line-height:3;
}

.verticalMenuTopLevelLeafText:hover
{
	color: #4b8ac7;
	padding:5px;
	font-weight:bold;
	
}

.verticalMenuTopLevelSelectedLeaf
{
	padding: 2px;
	border-left: #8b820b solid 2px;
	line-height:3;
}
.verticalMenuTopLevelSelectedLeafText
{
	font-weight:bold;
	padding:5px;
	color:#8b820b;
}
.verticalMenuTopLevelSelected
{
	padding: 2px;	
}
.verticalMenuTopLevelSelectedText
{
	color: black;
	padding:5px;
}
/**************************
Vertical Menu Second-Level
***************************/
.verticalMenuSecondLevelBackground
{
}
.verticalMenuSecondLevel
{
	padding: 2px 2px;
}
.verticalMenuSecondLevelText
{
	color: black;
	padding:5px;
	line-height: 3;
}
.verticalMenuSecondLevelLeaf
{
	padding: 2px 2px;

}
.verticalMenuSecondLevelLeafText
{
	color: black;
	padding:5px;

}
.verticalMenuSecondLevelSelected
{
	background-color: #CCCCFF;
	padding: 2px 2px;
}
.verticalMenuSecondLevelSelectedText
{
	color: black;
	padding:5px;
}
.verticalMenuSecondLevelSelectedLeaf
{
	background-color: #CCCCFF;
	padding: 2px 2px;
}
.verticalMenuSecondLevelSelectedLeafText
{
	color: black;
	padding:5px;
}
/**************************
Vertical Menu Third-Level
***************************/
.verticalMenuThirdLevelBackground
{
	background-color: #cccccc;
}
.verticalMenuThirdLevel
{
	background-color: #cccccc;
	padding: 0px;
}
.verticalMenuThirdLevelText
{
	color: #404040;
	padding: 10px;
	line-height: 3;
}
.verticalMenuThirdLevelLeaf
{
	background-color: #cccccc;
	padding: 0px;
}
.verticalMenuThirdLevelLeafText
{
	color: #404040;
	padding: 10px;
	line-height: 2.0;
}
.verticalMenuThirdLevelSelected
{
	background-color: #666666;
	padding: 0px;
}
.verticalMenuThirdLevelSelectedText
{
	color: #BDCF4A;
	padding: 10px;
}
.verticalMenuThirdLevelSelectedLeaf
{
	background-color: #666666;
	padding: 0px;
}
.verticalMenuThirdLevelSelectedLeafText
{
	color: #BDCF4A;
	padding: 10px;
}
/**************************
Vertical Menu Fourth-Level
***************************/
.verticalMenuFourthLevelBackground
{
	background-color: #cccccc;
}
.verticalMenuFourthLevel
{
	background-color: #cccccc;
	padding: 0px;
}
.verticalMenuFourthLevelText
{
	color: #404040;
	padding: 10px;
	line-height: 3;
}
.verticalMenuFourthLevelLeaf
{
	background-color: #cccccc;
	padding: 0px;
	border: #999999 solid 1px;
}
.verticalMenuFourthLevelLeafText
{
	color: #404040;
	padding: 10px;

}
.verticalMenuFourthLevelSelected
{
	background-color: #666666;
	padding: 0px;
}
.verticalMenuFourthLevelSelectedText
{
	color: #BDCF4A;
	padding: 10px;
}
.verticalMenuFourthLevelSelectedLeaf
{
	background-color: #666666;
	padding: 0px;
}
.verticalMenuFourthLevelSelectedLeafText
{
	color: #BDCF4A;
	padding: 10px;
}
/********************************
Text Control
********************************/
.textControl
{
	text-align:left;
}
/********************************
Start Menu Item
********************************/
.menuItemImage
{
	border:none;
}

/* System Styles */

.mainblock
{
margin-top:0.5em;
}

.mainblockNoBorder
{
margin-top:0.5em;
}
/* Highlight Styles */

.BFIELD
{

color:#000000;
background-color:#FF0000;
text-align:left;
font-weight:normal;
font-style:normal;
}

.TAB_IN
{

color:#000000;
background-color:#EEEEEE;
text-align:left;
font-weight:normal;
font-style:normal;
}

.TAB_OUT
{

color:#000000;
background-color:#CCCCFF;
text-align:left;
font-weight:normal;
font-style:normal;
}

.WARNING
{
color:#CC3333;
font-weight:bold;
}

.WTABLE
{

color:red;
text-align:left;
font-style:normal;
}

.STABLE
{

color:rgb(0,0,0);
text-align:left;
font-style:normal;
background-color:silver;
}

.SICKTABLES
{

color:red;
text-align:left;
font-style:normal;
}

.SICKTABLEC
{

color:#AD6C10;
text-align:left;
font-style:normal;
}

.ALTABLE
{

color:rgb(0,153,0);
text-align:left;
font-style:normal;
}

.ALRTABLE
{

color:#AC20CC;
text-align:left;
font-style:normal;
}

.OTHTABLE
{

color:rgb(0,0,204);
text-align:left;
font-style:normal;
}

.BANKTABLE
{

color:rgb(0,0,0);
text-align:left;
font-style:normal;
}

.ALERT
{

color:#000000;
background-color:#FFCC33;
text-align:left;
font-weight:normal;
font-style:normal;
}

.ATABLE
{

color:rgb(153,153,0);
text-align:left;
font-style:normal;
}

.RED
{
color:#FF0000;
background-color:#FFFFFF;
text-align:left;
font-weight:normal;
font-style:normal;
}

.NEWRED
{
color:#FF0000;
text-align:left;
font-weight:normal;
font-style:normal;
}