.menu-wrapper {
	width:100%;
	background-color:#1c4276;
	border-bottom: 1px solid rgba(255, 204, 51, 1);
}

.user-menu {
	float:right;
}


.menu-panel {
	padding:0px;
	display:block !important;
	margin:0px auto;
}

.menu-panel a, .menu-panel a:hover, .menu-panel ul li a, .user-menu a, .user-menu a:hover, .user-menu ul li a  {
	font-size:1em !important;
	font-family: "PT Sans" !important;
}

.sm-clean ul a, .sm-clean ul a:hover, .sm-clean ul a:focus, .sm-clean ul a:active, .sm-clean ul a.highlighted {
	color:#555555 !important;
}

.menu-panel a, .menu-panel a:visited {
	color: #fff;
}

.sm-clean a, .sm-clean a:hover, .sm-clean a:focus, .sm-clean a:active, .sm-clean a.highlighted {
	color: #fff !important;
}

.sm-clean a span.sub-arrow {
	border-color: #fff transparent transparent transparent;
}

.sm {
	border-radius: 5px !important;
}

.panel .sm {
	z-index: 1;
}

.sm-clean {
	background:#23579e;
	padding:0px;
}

.sm-clean:hover {
	background:#555555;
	padding:0px;
}

.sm-clean > li > ul::before, .sm-clean > li > ul::after {
	border:none !important;
}

.sm-clean a:active, .sm-clean a:focus  {
	color: rgba(255, 204, 51, 1);
}

.sm-clean ul {
    background: #fff;
}
