input, textarea, select
{
   font-family: inherit !important;
   font-size: inherit !important;
   font-weight: inherit !important;
}
p
{
	margin: 12px 0px 12px 0px;
}
img
{
	border: none;
}
a{
	color: #365799;
	text-decoration: none;
}
a:hover
{
	color: #365799;
	text-decoration: underline;
}
/***********************************
Start Control: Page Properties 
***********************************/
.pageBody
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 100%;
	text-align: left;
	margin: 0%;
	color: #404040;
}
.pageBodyContents
{
	border: inset 0px;
	font-size: 0.8em;
	font-weight: normal;
	font-style: normal;
	margin: 0em;
	width: 100%;
}
/***********************************
Start Control: Page Panel Properties 
***********************************/
.pagePanelTable
{
	width: 100%;
	margin: 0 auto 0 auto;
	color: #404040;
	font-size: 1.0em;
	font-weight: normal;
	font-style: normal;
}
.pagePanelHeader
{
	font-size: 1.4em;
	text-align: center;
	font-weight: bold;
	padding: 0.0em;
	width: 100%;
	padding-top: 20px;
}
.pagePanelInfo
{
	color: #365799;
	font-weight: normal;
	padding: 0.3em;
	width: 100%;
}
.pagePanelTrailer
{
	font-size: 0.7em;
	color: #365799;
	padding: 0.3em;
	width: 100%;
}
/***********************************
Start Control: Panel Properties 
***********************************/
.panel{
	margin: 10px 0px 10px 0px;
}
/***********************************
Start Grid Control
************************************/
.gridStyle
{
	width: 100%;
	padding: 0px;
}
.grid
{
	width: 100%;
}
/***********************************
Start Control: Grid Cell Properties 
***********************************/
.gridCell
{
	vertical-align: top;
	padding: 0px;
}
/***********************************
Start Control: Group Panel Properties 
***********************************/
.groupPanel
{
	width: 100%;
	margin: 10px 0px 10px 0px;
}
.groupHeader
{
	font-size: 1.0em;
	color: #404040;
	font-weight: bold;
	padding: 0.4em;
	background-color: #F2F2F2;
	width: 100%;
	border-bottom: #999999 solid 1px;
	border-top: #999999 solid 1px;
}
.groupInfo
{
	color: #365799;
	font-weight: normal;
	padding: 0.3em;
	width: 100%;
}
.groupTrailer
{
	font-size: 0.7em;
	color: #365799;
	padding: 0.3em;
	width: 100%;
}
.groupContent
{
	padding: 10px;
}
/***********************************
Start Control: Message Properties 
***********************************/
.errorMessage
{
	color: #FF0000;
	border-bottom: #FF0000 solid 1px;
	font-weight: normal;
	padding: 0.3em;
	font-style: italic;
	background-color: #F2F2F2;
	margin-bottom: 2px;
}
.warningMessage
{
	border-bottom: #F0B114 solid 1px;
	background-color: #F2F2F2;
	padding: 0.3em;
	font-style: italic;
	color: #F0B114;
	font-weight: normal;
	margin-bottom: 2px;
}
.tableErrorMessage
{
	color: #FF0000;
	border-bottom: #FF0000 solid 1px;
	font-weight: normal;
	padding: 0.3em;
	font-style: italic;
	background-color: #F2F2F2;
}
.tableWarningMessage
{
	border-bottom: #F0B114 solid 1px;
	background-color: #F2F2F2;
	padding: 0.3em;
	font-style: italic;
	color: #F0B114;
	font-weight: normal;
}
/***********************************
Start Control: Field Properties 
***********************************/
.fieldLabel
{
	vertical-align: top;
}
.fieldEditor
{
	margin-left: 5px;
   	font-size: inherit !important;
	vertical-align: top;
}
.fieldHelp
{
	margin-left: 5px;
	font-size: 0.7em;
}
/***************************************************************
Value pattern text - used for date and time fields e.g. hh:mm:ss 
***************************************************************/
.fieldPattern
{
	padding-left: 4px;
	font-size: 0.8em;
    color: #888888;
}
/***********************************
Start Control: Table Properties 
***********************************/
.table
{
	border-width: 1px;	
	width: 100%;
	margin: 20px 0px 0px 0px;
	border: #999999 solid 0px;
}
.groupPanel .table{
	width: 99%;
}
.tableHeader
{
	font-size: 1.0em;
	color: #404040;
	font-weight: bold;
	padding: 0.3em;
	background-color: #F2F2F2;
	border-top: #999999 solid 1px;
}
.tableInfo
{
	color: #365799;
	font-weight: normal;
	padding: 0.3em;
}
.tableTrailer
{
	font-size: 0.7em;
	color: #365799;
	padding: 0.3em;
}
.tableRowInformation
{
	padding: 0.4em;
	font-size: 0.9em;
}
.tableGrid
{
	border-collapse: collapse;
	margin: auto;
	width: 100%;
}
.tableColumnHeader
{
	font-size: 0.9em;
	border: solid #999999 1px;
	background-color: #DFDFDF;
	font-weight: bold;
	padding: 3px;
}
/*****************************************************************
Value pattern text - used for date and time columns e.g. hh:mm:ss 
*****************************************************************/
.tableColumnPattern
{
	font-size: 0.8em;
    color: #888888;
}
.tableRowCell
{
	border: solid #999999 1px;
	background-color: #EEEEEE;
	vertical-align: top;
	padding: 3px;
}
.tableRowData
{
}
.tableSelectRowCell
{
	border: solid #999999 1px;
	background-color: #EEEEEE;
	vertical-align: middle;
	padding: 3px;
	text-align: center;
}
 .tableDeleteRowCell
{
	border: solid #999999 1px;
	background-color: #EEEEEE;
	vertical-align: middle;
	padding: 3px;
	text-align: center;
}
.tableButtonColumnCell
{
	border: solid #999999 1px;
	background-color: #EEEEEE;
	vertical-align: middle;
	padding: 3px;
	text-align: center;
}
.tableImageColumnCell
{
	border: solid #999999 1px;
	background-color: #EEEEEE;
	vertical-align: middle;
	padding: 3px;
	text-align: center;
}
.tableSelectRowData, .tableDeleteRowData
{
}
a.tablePageNumber
{
	color: #365799;
	text-decoration: none;
}
a.tablePageNumber:active
{
	color: #FF0000;
}
a.tablePageNumber:hover
{
	color: #365799;
	text-decoration: underline;
}
.tableCurrentPageNumber
{
}
.tableHorizontalScrollIcon
{
	border: none;
}
.tableSortIcon
{
	border: none;
}
.tablePageScrollIcon
{
	margin-right: 0.5em;
	border: none;
}
.tableImageColumn
{
	border: none;
}
.tableAddRowButton
{
	color: #365799; 
	font-family: Arial, Helvetica, sans-serif !important; 
	font-weight: bold !important;
	font-size: 0.9em !important;
	background-color: #DFDFDF; 
	border: #999999 1px solid; 
	padding: 0.3em;
	cursor: pointer;
}
.tableButtonColumn
{
	color: #365799; 
	font-family: Arial, Helvetica, sans-serif !important; 
	font-weight: bold !important;
	font-size: 0.9em !important;
	background-color: #DFDFDF; 
	border: #999999 1px solid; 
	padding: 0.3em;
	cursor: pointer;
}
/***********************************
Start Button Control
***********************************/
.button
{
	color: #365799; 
	font-family: Arial, Helvetica, sans-serif !important; 
	font-weight: bold !important;
	font-size: 0.9em !important;
	background-color: #DFDFDF; 
	border: #999999 1px solid; 
	padding: 0.3em;
	cursor: pointer;
}
/**********************************
Start Images Control
***********************************/
.image
{
	border:none;
}
/**********************************
Start Control:  Legacy Button Panel and Navigation Buttons
***********************************/
.legacyButtonPanel
{
	border-spacing: 2px 2px ;
	margin: 20px 0 20px 0;
	width: 100%;
}

.saveButton
{
	color: #365799; 
	font-family: Arial, Helvetica, sans-serif !important; 
	font-weight: bold !important;
	font-size: 0.9em !important;
	background-color: #DFDFDF; 
	border: #999999 1px solid; 
	padding: 0.3em;
	cursor: pointer;
}
.restoreButton
{
	color: #365799; 
	font-family: Arial, Helvetica, sans-serif !important; 
	font-weight: bold !important;
	font-size: 0.9em !important;
	background-color: #DFDFDF; 
	border: #999999 1px solid; 
	padding: 0.3em;
	cursor: pointer;
}
.previousPageButton
{
	color: #365799; 
	font-family: Arial, Helvetica, sans-serif !important; 
	font-weight: bold !important;
	font-size: 0.9em !important;
	background-color: #DFDFDF; 
	border: #999999 1px solid; 
	padding: 0.3em;
	cursor: pointer;
}
.nextPageButton
{
	color:#365799; 
	font-family: Arial, Helvetica, sans-serif !important; 
	font-weight: bold !important;
	font-size: 0.9em !important;
	background-color:#DFDFDF; 
	border: #999999 1px solid; 
	padding: 0.3em;
	cursor: pointer;
}
.finishButton
{
	color: #365799; 
	font-family: Arial, Helvetica, sans-serif !important; 
	font-weight: bold !important;
	font-size: 0.9em !important;
	background-color: #DFDFDF; 
	border: #999999 1px solid; 
	padding: 0.3em;
	cursor: pointer;
}
.finalPageReturnButton
{
	color: #365799; 
	font-family: Arial, Helvetica, sans-serif !important; 
	font-weight: bold !important;
	font-size: 0.9em !important;
	background-color: #DFDFDF; 
	border: #999999 1px solid; 
	padding: 0.3em;
	cursor: pointer;
}
/***********************************
Start Layout Properties
************************************/
.verticalLayoutTable
{
	width: 100%;
}
.horizontalLayoutTable
{
	width: 100%;
}
.horizontalLayoutTable td{
	vertical-align: top;
}
.fieldLayoutTable
{
	border-collapse: collapse;
	margin: 0.25em auto 0.25em auto;
	width: 100%;
}

.fieldLayoutLabelCell, .fieldLayoutEditorCell
{
	vertical-align: top;
}

.fieldLayoutHelpCell
{
	vertical-align: middle;
}
.columnLayoutTable
{
	width: 100%;
}
.columnLayoutLabelCell
{
	vertical-align: top;
	margin: 0.25em auto 0.25em auto;
}
/***********************************
Start Form Properties
************************************/
.formHeader
{
	font-size: 1.2em;
	color: #FFFFFF;
	background-color: #365799;
	text-align: center;
	font-weight: bold;
	font-style: normal;
	padding: 0.3em 0em;
	width: 100%;
	border-left: #365799 solid 1px;
	border-right: #365799 solid 1px;
}
.finalPageTable
{
	width: 100%;
	margin:0 auto 0 auto;
	color: #404040;
	font-size: 1.0em;
	font-weight: normal;
	font-style: normal;
}
.finalPageHeading
{
	font-size: 1.4em;
	text-align: center;
	font-weight: bold;
	padding: 0.0em;
	width: 100%;
	padding-top: 20px;
}
.finalPageInfo
{
	color: #365799;
	font-weight: normal;
	padding: 0.3em;
	width: 100%;
}
.finalPageMessages
{
	padding: 0.3em;
}
/***********************************
Start Control TabSet
************************************/
.tabSet
{
	width: 100%;
}
.tabSetContent
{
	padding: 20px 20px;	
}

.groupPanel .tabSet{
	width: 99%;
}
/***********************************
Start Control Tab
***********************************/
.tabImage
{
	height:16px;
	border:none;
}
/***********************************
Start Control Horizontal Menu
***********************************/
.horizontalMenu
{
	cursor: pointer;
	border: #999999 solid 1px;
	background-color: #F2F2F2; 
	width: 100%;
}
.pagePanelTable .horizontalMenu{
	width: 99.9%;
}
.groupPanel .horizontalMenu{
	width: 99%;
}
.horizontalMenuTopLevel
{
	background-color: #F2F2F2; 
	border: solid 0px; 
	border-right: #999999 solid 1px; 
	padding: 0px;
	vertical-align: middle;
}
.horizontalMenuTopLevelText
{
	color: #404040;
	vertical-align: middle;
	padding: 0px 10px;
	line-height: 2.0;
}
.horizontalMenuTopLevelLeaf
{
	background-color: #F2F2F2; 
	border: solid 0px; 
	border-right: #999999 solid 1px; 
	padding: 0px;
}
.horizontalMenuTopLevelLeafText
{
	color: #404040;
	line-height: 2.0;
	padding: 0px 10px;
}
.horizontalMenuTopLevelSelected
{	
	background-color: #666666;
	border: solid 0px;
	border-right:#666666 solid 1px;
	padding: 0px;
}
.horizontalMenuTopLevelSelectedText
{
	color: #BDCF4A;
	line-height: 2.0;
	padding: 0px 10px;
}
.horizontalMenuTopLevelSelectedLeaf
{
	background-color: #666666;
	border: solid 0px;
	border-right: #666666 solid 1px;
	padding: 0px;
}
.horizontalMenuTopLevelSelectedLeafText
{
	color: #BDCF4A;
	line-height: 2.0;
	padding: 0px 10px;
}
.horizontalMenuItem
{
	background-color: #F2F2F2; 
	border: #999999 solid 1px; 
	border-bottom: 0px; 
	padding: 0px;	
}
.horizontalMenuTopLevel ul, .horizontalMenuItem ul, .horizontalMenuTopLevelSelected ul{
	border-bottom: #999999 solid 1px;
}
.horizontalMenuItemText
{
	color: #404040;
	padding: 0px;
	line-height: 2.0;
	padding: 0px 10px;
}
.horizontalMenuLeaf
{
	background-color: #F2F2F2; 
	border: #999999 solid 1px; 
	border-bottom: 0px; 
	padding: 0px;
}
.horizontalMenuLeafText
{
	color: #404040;
	line-height: 2.0;
	padding: 0px 10px;

}
.horizontalMenuSelected
{
	background-color: #666666;
	border: #999999 solid 1px;
	border-bottom: 0px; 
	padding: 0px;
}
.horizontalMenuSelectedText
{
	color: #BDCF4A;
	line-height: 2.0;
	padding: 0px 10px;
}
.horizontalMenuSelectedLeaf
{	
	background-color: #666666;
	border: #999999 solid 1px;
	border-bottom: 0px; 
	padding: 0px;
}
.horizontalMenuSelectedLeafText
{
	color: #BDCF4A;
	line-height: 2.0;
	padding: 0px 10px;
}
/***********************************
Start Control Vertical Menu
***********************************/
.verticalMenu
{
	cursor: pointer;
	border-top: #999999 solid 1px;
}
/*****************************
Vertical Menu Top(First)-Level
******************************/
.verticalMenuTopLevelBackground
{
	background-color: #F2F2F2; 
	padding: 2px 2px;
}
.verticalMenuTopLevel
{
	border-bottom: #999999 solid 1px;
	border-left: #999999 solid 1px;
	border-right: #999999 solid 1px;
	background-color: #F2F2F2;
	padding: 2px 2px;
}
.verticalMenuTopLevelText
{
	color: #404040;
	padding: 10px;
	line-height: 2.0;
}
.verticalMenuTopLevelLeaf
{
	border-bottom: #999999 solid 1px;
	border-left: #999999 solid 1px;
	border-right: #999999 solid 1px;
	background-color: #F2F2F2;
	padding: 2px 2px;
}
.verticalMenuTopLevelLeafText
{
	color: #404040;
	padding: 10px;
	line-height: 2.0;
}
.verticalMenuTopLevelSelectedLeaf
{
	border-bottom: #666666 solid 1px;
	border-left: #666666 solid 1px;
	border-right: #666666 solid 1px;
	background-color: #666666;
	padding: 2px 2px;
}
.verticalMenuTopLevelSelectedLeafText
{
	color: #BDCF4A;
	padding: 10px;
	line-height: 2.0;
}
.verticalMenuTopLevelSelected
{
	border-bottom: #666666 solid 1px;
	border-left: #666666 solid 1px;
	border-right: #666666 solid 1px;
	background-color: #666666;
	padding: 2px 2px;	
}
.verticalMenuTopLevelSelectedText
{
	color: #BDCF4A;
	padding: 10px;
	line-height: 2.0;
}
/**************************
Vertical Menu Second-Level
***************************/
.verticalMenuSecondLevelBackground
{
	background-color: #F2F2F2;
}
.verticalMenuSecondLevel
{
	/*border-bottom: #999999 solid 1px;*/
	border-left: #999999 solid 1px;
	border-right: #999999 solid 1px;
	background-color:#F2F2F2;
	padding: 0px;
	border-top: #999999 solid 1px;
}
.verticalMenuSecondLevelText
{
	color: #404040;
	padding: 10px;
	line-height: 2.0;
}
.verticalMenuSecondLevelLeaf
{
	background-color: #F2F2F2;
	padding: 0px;
	border-left: #999999 solid 1px;
	border-right: #999999 solid 1px;
	border-top: #999999 solid 1px;
}
.verticalMenuSecondLevelLeafText
{
	color: #404040;
	padding: 10px;
	line-height: 2.0;
}
.verticalMenuSecondLevelSelected
{
	background-color: #666666;
	border-left: #999999 solid 1px;
	border-right: #999999 solid 1px;
	border-top: #999999 solid 1px;
	padding: 0px;
}
.verticalMenuSecondLevelSelectedText
{
	color: #BDCF4A;
	padding: 10px;
	line-height: 2.0;
}
.verticalMenuSecondLevelSelectedLeaf
{
	background-color: #666666;
	border-left: #999999 solid 1px;
	border-right: #999999 solid 1px;
	border-top: #999999 solid 1px;
	padding: 0px;
}
.verticalMenuSecondLevelSelectedLeafText
{
	color: #BDCF4A;
	padding: 10px;
	line-height: 2.0;
}
/**************************
Vertical Menu Third-Level
***************************/
.verticalMenuThirdLevelBackground
{
	background-color: #cccccc;
}
.verticalMenuThirdLevel
{
	border-left: #999999 solid 1px;
	border-right: #999999 solid 1px;
	border-top: #999999 solid 1px;
	background-color: #cccccc;
	padding: 0px;
}
.verticalMenuThirdLevelText
{
	color: #404040;
	padding: 10px;
	line-height: 2.0;
}
.verticalMenuThirdLevelLeaf
{
	background-color: #cccccc;
	padding: 0px;
	border-left: #999999 solid 1px;
	border-right: #999999 solid 1px;
	border-top: #999999 solid 1px;
}
.verticalMenuThirdLevelLeafText
{
	color: #404040;
	padding: 10px;
	line-height: 2.0;
}
.verticalMenuThirdLevelSelected
{
	background-color: #666666;
	border-left: #999999 solid 1px;
	border-right: #999999 solid 1px;
	border-top: #999999 solid 1px;
	padding: 0px;
}
.verticalMenuThirdLevelSelectedText
{
	color: #BDCF4A;
	padding: 10px;
	line-height: 2.0;
}
.verticalMenuThirdLevelSelectedLeaf
{
	background-color: #666666;
	padding: 0px;
	border-left: #999999 solid 1px;
	border-right: #999999 solid 1px;
	border-top: #999999 solid 1px;
}
.verticalMenuThirdLevelSelectedLeafText
{
	color: #BDCF4A;
	padding: 10px;
	line-height: 2.0;
}
/**************************
Vertical Menu Fourth-Level
***************************/
.verticalMenuFourthLevelBackground
{
	background-color: #cccccc;
}
.verticalMenuFourthLevel
{
	border-bottom: #999999 solid 1px;
	border-left: #999999 solid 1px;
	border-right: #999999 solid 1px;
	background-color: #cccccc;
	padding: 0px;
	border-top: #999999 solid 1px;
}
.verticalMenuFourthLevelText
{
	color: #404040;
	padding: 10px;
	line-height: 2.0;
}
.verticalMenuFourthLevelLeaf
{
	background-color: #cccccc;
	padding: 0px;
	border: #999999 solid 1px;
}
.verticalMenuFourthLevelLeafText
{
	color: #404040;
	padding: 10px;
	line-height: 2.0;
}
.verticalMenuFourthLevelSelected
{
	background-color: #666666;
	padding: 0px;
}
.verticalMenuFourthLevelSelectedText
{
	color: #BDCF4A;
	padding: 10px;
	line-height: 2.0;
}
.verticalMenuFourthLevelSelectedLeaf
{
	background-color: #666666;
	padding: 0px;
}
.verticalMenuFourthLevelSelectedLeafText
{
	color: #BDCF4A;
	padding: 10px;
	line-height: 2.0;
}
/****************************
Vertical Menu Dropdown level
*****************************/
.verticalMenuBackground
{
	background-color: #F2F2F2;
}

.verticalMenuTopLevel ul, .verticalMenuItem ul, .verticalMenuTopLevelSelected ul, .verticalMenuSelected ul{
	border-bottom: #999999 solid 1px;
}

.verticalMenuItem
{
	border-top: #999999 solid 1px;
	border-left: #999999 solid 1px;
	border-right: #999999 solid 1px;
	background-color: #F2F2F2;
	padding: 0px;
	border-top: #999999 solid 1px;
}
.verticalMenuItemText
{
	color: #404040;
	padding: 10px;
	line-height: 2.0;
}
.verticalMenuLeaf
{
	border-top: #999999 solid 1px;
	border-left: #999999 solid 1px;
	border-right: #999999 solid 1px;
	background-color: #F2F2F2;
	padding: 0px;
}
.verticalMenuLeafText
{
	color: #404040;
	padding: 10px;
	line-height: 2.0;
}
.verticalMenuSelected
{
	border-top: #666666 solid 1px;
	border-left: #666666 solid 1px;
	border-right: #666666 solid 1px;
	background-color: #666666;
	padding: 0px;
}
.verticalMenuSelectedText
{
	color: #BDCF4A;
	padding: 10px;
	line-height: 2.0;
}
.verticalMenuSelectedLeaf
{
	border-top: #666666 solid 1px;
	border-left: #666666 solid 1px;
	border-right: #666666 solid 1px;
	background-color: #666666;
	padding: 0px;
}
.verticalMenuSelectedLeafText
{
	color: #BDCF4A;
	padding: 10px;
	line-height: 2.0;
}
/********************************
Start Menu Item
********************************/
.menuItemImage
{
	border:none;
}
/********************************
Start Horizontal Line
********************************/
.horizontalLine
{
 	border:0;
  	border-top: 1px solid #999999;
  	height: 0;
  	background: #999999;	
}
/********************************
Text Control
********************************/
.textControl
{
}
/********************************
Title Panel
********************************/
.titleText
{
	font-weight: bold;
	color: #ffffff;
	font-size: 0.9em;
}
.titlePanelTitlebar
{
	padding: 10px 0px 0px 0px;
}
.titlePanelContent{
	padding: 10px 0px 0px 0px;
	/*font-size: 0.8em !important;*/
}
.titlePanelContent span{
}
.titlePanelContent input, .titlePanelContent textarea, .titlePanelContent select{
}