/*@import url(http://fonts.googleapis.com/css?family=PT+Sans);
 Custom sheet styles */
@font-face {
  font-family: 'PT Sans';
  font-weight: 400;
  font-style: normal;
  src: url('$ws/Web_Resources/fonts/PT-Sans-regular/PT-Sans-regular.eot');
  src: url('$ws/Web_Resources/fonts/PT-Sans-regular/PT-Sans-regular.eot?#iefix') format('embedded-opentype'),
       local('PT Sans'),
       local('PT-Sans-regular'),
       url('$ws/Web_Resources/fonts/PT-Sans-regular/PT-Sans-regular.woff2') format('woff2'),
       url('$ws/Web_Resources/fonts/PT-Sans-regular/PT-Sans-regular.woff') format('woff'),
       url('$ws/Web_Resources/fonts/PT-Sans-regular/PT-Sans-regular.ttf') format('truetype'),
       url('$ws/Web_Resources/fonts/PT-Sans-regular/PT-Sans-regular.svg#PTSans') format('svg');
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	/*vertical-align: baseline;*/
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	/*
	line-height: 1;
	*/
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/**************************************************************************/

body {
	font-family: "PT Sans";
	font-size: 12pt;
	/*background-image: url(CCC/bg-02.png);*/
	background:#EEEEEE;
}

.wrapper {
  padding: 10px;
  width: 95%;
	background: none repeat scroll 0 0 #ffffff;
	margin: 0 auto;
}

.spGroupContent div, .spTitlePanelContent div, .spPanel div {
	clear: left;
	float: left;
	width:100%;
}

.spFloatRight {
	float:right;
	clear:none !important;
}

.spFloatLeft {
	float:left;
	width:34%;
	clear:none;
	border-right: 1px solid #ccc
}

.panelLeft {
	float:left;
}

.panelRight {
	float:right;
}

.spNavPanel {
  background-color: #37587e;
  width: 100%;
}

.spLoginPanel {
	float:right;
	position:relative;
	color:#fff;
  	margin-top: -47px;
  	padding: 0 10px;
	text-align:right;
}

.spGroupBorder {
	clear:left;
}

.spGroupHeader
{
	color:#4b606f !important;
	font-size: 18pt;
	font-weight: bold;
	padding: 5px 0px;
}

.spGroupInfo {
	background-position: 0px 4px;
	background-repeat: no-repeat;
	padding: 5px;
	background-image: url("images/info24.png");
	text-indent: 25px;
	color:#00529B;
}

td.spGroupInfo {
	margin-bottom:10px !important;
}

.spGroupContent {
	padding-top:10px;
    /*border-top: 1px solid #d4edf7;
	border-bottom: 1px solid #d4edf7;*/
}	

.spGroupContent > div, .spPanel > div {
	margin-bottom: 10px;
}

.spGroupContent > div > div > div > div {
	margin-bottom:5px;
} 

.spLabel {
	color: #555; 
}

.sameLine {
	clear: none;
}

.spPanel {
	clear: left;
	float: left;
}

.spTitlePanelContent {
	border: 1px solid #666666;
}

.titlePanel .spTitlePanelContent {
    background-color: #E8EEEF;
    margin: 0;
    padding: 15px;
}

.spFormHeader {
    background-color: #fff;
    background-image: url('$ws/Web_Resources/images/hs_banner_sm.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    color: #450628 !important;
    font-size: 30pt;
    font-weight: bold;
    letter-spacing: 0.1em;
    margin: 0 auto;
    padding: 95px 10px 0;
    text-align: center;
    vertical-align: baseline;
    width: 95%;
border-top:10px;
border-style:solid;
border-color:#fff;
}

/******* Tab Styling ********/

.spTabHeader ul li {
	padding: 0 5px 0 0; 
}

.spTabHeader ul li span {
    color: #FFFFFF;
    margin: 0;
    padding: 5px 25px;
}

.spTabHeader ul li span:hover {
   	background-color:#37587E;
	color: #fff !important;
	border-radius:5px 5px 0 0;
}

.spTabContents {
	padding:10px;
	width:98% !important;
	border:none !important;
}

.spTabContents div {
    clear: both;
    float: left;
}

.tabPanelSurround {
	clear:none;
}

div[class*="-TabPanelSurround"]
{
	background-color: #FFFFFF;
	border: 1px solid #285F79 !important;
}

div[class*="-TabPanelSurround"] div > div
{
	/*margin-bottom: 6px;*/
}

td #eb_top {
	height: 110px;
	background-color:#000;
}

.spInputStyle table tr td {
    height: 31px;
}

.eb-17-EditorInput {
    font-weight: normal;
}

.spFieldStyle input, .spFieldStyle label {
    margin-right: 10px;
}

input, textarea {
   	border-radius: 5px;
   	color: #000;
   	padding: 6px;
	border: 1px solid #ccc;
	font-family: "PT Sans";
} 

.textControl {
	font-size: 1em !important;
}

strong {
	font-weight: bold;
}


#progressbar {
	margin-bottom:5px;
}

.progress-label, #progresslabel {
    margin-top: 7px;
    position: absolute;
    padding-left: 10px;
	width:auto !important;
	font-weight:bold;
}

#progresspanel {
/*	border: 1px solid #58c124;
	margin: 10px 0px;
	padding: 5px 10px;
*/
}

input[type=image] {
	border:none;
	background:none;
}

input[type=radio] {
	border:none;
	background:none;
}

input[type=checkbox] {
	/*border:none;
	background:none; */
}

input[type="text"] {
	min-width: 100px;
}

input:focus, textarea:focus, select:focus {  
	-webkit-box-shadow: 0px 0px 2px 0px #5271DA;
    -moz-box-shadow: 0px 0px 2px 0px #5271DA;
    box-shadow: 0px 0px 2px 0px #5271DA;
}

input:hover, textarea:hover, select:hover {
	-webkit-box-shadow: 0px 0px 7px 0px #5271DA;
    -moz-box-shadow: 0px 0px 7px 0px #5271DA;
    box-shadow: 0px 0px 7px 0px #5271DA;
}

div .spHelpStyle {
	font-size:0.8em;
} 


.inputHighlight {
	border-color:#CC3333;
	background-color: #FFBABA;	
}

.ebPanelDEFAULT table {
	height:0px;
}

.smallText {
	color: #666666;
	font-size: 0.8em;
	margin: 18px 0 0 !importnant;
	text-align: left;
}

.warningText {
	color: #FF0000;
}

span#dateTime {

}

a:link
{
	color: #0072BC;
}

/*table a:visited
{
	color: #b10069 !important;
}
*/
a:hover
{
	text-decoration: underline;
}

/* Headings */

.navText {
	font-family:"PT Sans";
	font-size: 14pt;
	color:#fff;
	font-style:normal;
	font-weight:normal;
}

h1 {
	font-family:"PT Sans";
	font-size: 20pt;
	color:#616D7A;
	font-style:normal;
	font-weight:normal;
}

h2 {
	font-family:"PT Sans";
	font-size: 18pt;
	color:#616D7A;
	font-style:normal;
	font-weight:normal;
}

h3 {
	font-family:"PT Sans";
	font-size: 16pt;
	color:#616D7A;
	font-style:normal;
	font-weight:normal;
}

h4 {
	font-family:"PT Sans";
	font-size: 14pt;
	color:#616D7A;
	font-style:normal;
	font-weight:normal;
}

ol, ul {
	list-style: disc inside none;
	padding: 5px;
}


.spErrorMessage, .spWarningMessage, .spInfoMessage, .spConfirmMessage, .spBox, .ebErrorMessageDefault {
	background-color: #FA6A7A;
	background-image: url("images/error24.png");
	background-position: 5px 5px;
	background-repeat: no-repeat;
	border: 1px solid;
	border-radius: 5px;
	color: #fff;
	padding: 5px 0px;
	clear: left;
	text-indent:40px;
	margin-top: 5px;
	width:auto;
    font-size: 0.9em;
}

.spInfoMessage {
	background-color: #51C2F9;
	background-image: url("images/info24.png");
	color: #00529B;
}
.spWarningMessage{
	background-color: #FEEFB3;
	background-image: url("images/warning24.png");
	color: #9F6000;
}
.spConfirmMessage{
	background-color: #DFF2BF;
	background-image: url("images/success24.png");
	color: #4F8A10;
}
.spBox{
	background-color: #fff;
	color: #000;
	background-image: none;
}

/**** JQuery Styling Override ****/

.ui-autocomplete-loading {
        background: white url('shared/images/ui-anim_basic_16x16.gif') right center no-repeat;
}

.ui-buttonset table {
	height:0px;
}

.ui-widget{
	font:inherit;
}

.ui-autocomplete {
		max-height: 300px;
		width: 300px;
		overflow-y: auto;
		/* prevent horizontal scrollbar */
		overflow-x: hidden;
		/* add padding to account for vertical scrollbar */
		padding-right: 20px;
}

.ui-datepicker-trigger {
	border:0px;
	cursor:pointer;
    padding: 0px 0px 0px 5px;
    position: absolute;
}

span .ui-widget, .ui-datepicker-month, .ui-datepicker-year, .ui-datepicker  {
	font-family: "PT Sans" !important;
	font-size: 12pt !important;
	line-height: 1.2em;
}

select .ui-datepicker-year {
	background-color: #000;
}

div .ui-widget input {
	font-family: "PT Sans" !important;
	/*font-size: 12pt !important;*/
	line-height: 1.2em;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
	font-family: "PT Sans" !important;
	font-size: 10pt;
}

.ui-spinner {
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    box-shadow: 0 0 3px #FFFFFF inset, 0 1px 1px rgba(0, 0, 0, 0.1);
    font-family: "PT Sans" !important;
    outline: 0 none;
}

.ui-spinner-active {
	 border-color: 1px solid #CB8916;
}

.ui-spinner-input {
	background-color: #E8EEEF;
	box-shadow:none;
	margin:0px;
	padding:6px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	background:none;
	border:none;
}

.ui-progressbar .ui-progressbar-value {
    margin-right: -6px;
}

.progressBarGreen {
	background: #d41111 url(images/pb_Green.png) 50% 50% repeat-x;
}

.progressBarYellow {

}

.progressBarRed {

}


/**** Button Styling ******/

.button
{
	padding: 7px 15px;
	background-color: #fff;
	color: #37587E;
	box-shadow: none;
	border: 1px solid #37587E;
	border-radius:5px;
}

.inlineButton
{
	margin-left: 200px;
	
}

.fixedWidth
{
	width:150px;
}

.button:hover {
	color: #fff;
	background-color:#37587E;
	border: 1px solid #37587E;
	border-radius:5px;
}

.spNavPanel .button
{
	padding: 7px 15px;
	background-color: #37587E;
	color: #fff;
	box-shadow: none;
	border: 1px solid #fff;
	border-radius:5px;
}

.spNavPanel .button:hover {
	color: #37587E;
	background-color:#fff;
	border: 1px solid #fff;
	border-radius:5px;
}

.redButton
{
	background-color: #F70A0A;
	border: 2px solid #960E0E;
	box-shadow: 0 1px 0 0 #F7E0BE inset;
	color: #fff;
	font-size:11pt;
	padding: 5px 15px;
	text-shadow: 1px 1px 0 #960E0E;
}

.redButton:hover {
	background-color: #C40E0E;
	border-color: #960E0E !important;
}

.greenButton
{
	background-color: #0EC724;
	border: 2px solid #0E751A;
	box-shadow: 0 1px 0 0 #F7E0BE inset;
	color: #fff;
	font-size:11pt;
	padding: 5px 15px;
	text-shadow: 1px 1px 0 #0E751A;
}

.greenButton:hover {
	background-color: #109E20;
	border-color: #0E751A !important;
}

/**** Field & Label Styling ******/

.spPatternStyle {
	text-align:left;
	/*vertical-align:top;*/
	padding:5px;
}

/**** Grid Styling ******/

.spGridCellStyle {
	padding:10px;
	vertical-align: top;
}

.spGridStyle {
	padding-right:10px;
}

.spGridBorderStyle {
	margin:10px 0px 10px 0px;
}

/**** Field Grid Styling ******/

/*.spFieldGridTable tr:nth-child(odd) {
	background: #d4edf7;
}

.spFieldGridTable tr:nth-child(even) .spFieldHelpCell {
	background: #B6DDEC;
}

.spFieldGridTable_Help {
	background-image: url(images/help-background.png);
	background-repeat: repeat-y;
	background-position: right;
}
*/

.spFieldGridTable {
	border:solid #336699 0px;
	border-collapse:collapse;
	width:100%;
	margin:0;
}



.spFieldLabelCell {
	text-align:left;
	vertical-align:top;
	padding:5px;
	width: 200px;
}

.spFieldLabelCell span {
	text-align:left;
}

.spFieldEditorCell {
	background-color:none;
	text-align:left;
	vertical-align:top;
	padding:5px;
}

.spFieldEditorCell span {
/*	vertical-align:top;*/
}

.spFieldHelpCell, .spInfo {
	background-position: 5px 7px;
	background-repeat: no-repeat;
	padding: 7px 0px 0px;
	clear: left;
	text-indent:30px;
	background-image: url("images/help16.png");
	color: #00529B;
}

.spEditorCell {
	/*vertical-align:top;*/
}

/**** Title Panel Style *******/

.spTitlePanelContent {

}

.titlePanel  {
	width:100%;
	margin: 0px 0px -10px -8px;
}

.titleText {
	color: rgb(59, 130, 184) !important;
	font-size: 14pt;
	font-weight: bold;
}

.titlePanelTitlebar {
	padding:10px 0px;
}

/*
.spTitlePanelContent input, .spTitlePanelContent textarea {
    background-color: #FFFFFF;
}
*/
.spTitlePanelContent {
	
}


/***** Table Styling *******/

.spTableRowData {
	/*background-color: #ccc;*/
}

.spSelectColumn {
	
}

.spTableRowInfo td div {
	width: 20px;
}

.spTableRowInfo td a {
	width: 20px;
}

.tableRowHighlight {
	background-color: #FEEFB3 !important;
}

.tableRowError {
	background-color: red !important;
}

.tableRowWarning {
	background-color: orange !important;
}

.tableRowSuccess {
	background-color: green !important;
}

.spTablePageNum {
	background-color: #BBBBBB;
	color: #FFFFFF;
    padding: 6px 8px 8px 6px;
	text-decoration: none;
	float:none !important;
	display:block;
    margin: 0;
}

.spTableCurrentPageNum {
	color: #FFFFFF;
	background-color: #629AC5;
	padding: 6px 8px 8px 6px;
	text-decoration: none;
	float:none !important;
	display:block;
    margin: 0;
}

.spTableNav {
	background-color: #BBBBBB;
	color: #FFFFFF;
    padding: 2px 5px 4px;
	text-decoration: none;
	float:none !important;
    margin: 0;
}

.spTableNav img {
	padding: 2px 5px;
	vertical-align: middle;
	background:none;
}

.spTableNav img:hover {
	background-color: #4F8EBF;
}

.spTableRowInfo td {
   /* line-height:14px;*/
}


.spTableRowInfo td > div {
    margin: 0;
    /*padding: 9px 5px 10px;*/
}

.spTableColumnHeader {
	text-align:left;
	color: #555;
	font-weight: bold;
	padding:3px;
}

.spTableOuter {
	margin-top:10px;
	border-bottom: 1px solid #555;
	border-left: 1px solid #555;
	border-right: 1px solid #555;
}

td[class*="-navSpacerRight"]:hover, td[class*="-navSpacerLeft"]:hover {
	background-color: #4F8EBF;
}

/*tr[class*="-tableRow"]:nth-child(2n) {
    background-color: #E8EEEF;
}
*/
.spTableGrid th {
    border-bottom: 1px solid #555;
	border-top: 1px solid #555;
	background:#9ccef5;
    /*padding: 5px 5px;
    vertical-align: middle;*/
}

.spTableGrid tr {
	vertical-align:top;
}

.spTableRowCell {
    padding: 3px 5px;
}

.calTableRowCell:hover
{
	color: #fff;
	background-color:#37587E;
	border: 1px solid #37587E;
	border-radius:5px;
}

.spTableSort {
	
}

.spTableAddRow
{
	padding: 7px 15px;
	background-color: #fff;
	color: #37587E;
	box-shadow: none;
	border: 1px solid #37587E;
	border-radius:5px;
}

.spTableAddRow:hover
{
	color: #fff;
	background-color:#37587E;
	border: 1px solid #37587E;
	border-radius:5px;
}
.spTableAddRowCell
{
	text-align:left;
	vertical-align:center;
	padding:3px;
}

.spTableHeader {
	font-family:"PT Sans";
	font-size: 18pt;
	/*color:#616D7A;*/
	color:#4b606f;
	font-style:normal;
	font-weight:normal;
	border-top: 1px solid #555;
	padding:3px;
	text-align:center;
}

.spTableInfo {
	padding:5px;
}

.spTableTrailer {
	padding:5px;
	border-top: 1px solid #555;
}

.spTableRecordInfo {
	color:#00529b;
	display:block;
	padding: 5px 3px;
}

.spTableRowInfo {
    border-top: 1px solid #555;
	background:#BBBBBB;
}

.spTableRowInfo td a:hover {
    background-color: #4F8EBF;
	color:#fff;
	text-decoration:none;
}

.spSelectDeleteColumn {
	text-align:center;
}

.ebTableRowDataDEFAULT
{
color:#000000;
font-weight:normal;
font-style:normal;
}

.TableRowInfo
{
color:#000000;
padding:5px;
text-align:left;
font-weight:normal;
font-style:normal;
}

.ebGridDEFAULT
{
width:100%;
}

.ebGridStyleDEFAULT
{
width:100%;
}

.ebGridCellStyleDEFAULT
{
vertical-align:top;
}

.verticalLayoutTableDEFAULT
{
width:100%;
}

/***********************************
Start Control Tab
***********************************/
.tabImage
{
	height:16px;
	border:none;
background-color:rgb(255,255,255);
background-image:none;
}
/***********************************
Start Control Horizontal Menu
***********************************/
.horizontalMenu
{
	cursor: pointer;
	background-color: #F2F2F2; 
	width: 100%;
	margin: 10px 0px 10px 0px;
	border: #999999 solid 1px;
}

.pagePanelTable .horizontalMenu{
	width: 99.9%;
}

.groupPanel .horizontalMenu{
	width: 99%;
}

.horizontalMenuTopLevel
{
	background-color: #F2F2F2;
	background-image:url(images/sortDesc.png);
	background-repeat:no-repeat;
	background-position:90% 50%; 
	vertical-align: middle;
	min-width:150px;
}

.horizontalMenuTopLevel:hover
{
	background-color: #abcff8;
}

.horizontalMenuTopLevelText
{
	color: #404040;
	vertical-align: middle;
	padding: 0px 10px;
	line-height: 2.0;
}

.horizontalMenuTopLevelLeaf
{
	background-color: #F2F2F2; 
	padding: 0px;
	min-width:150px;
}

.horizontalMenuTopLevelLeaf:hover
{
	background-color:#abcff8; 
}

.horizontalMenuTopLevelLeafText
{
	color: #404040;
	line-height: 2.0;
	padding: 0px 10px;
}

.horizontalMenuTopLevelSelected
{	
	background-color: #abcff8;
	width:150px;
	background-image:url(images/sortDesc.png);
	background-repeat:no-repeat;
	background-position:90% 50%; 
}

.horizontalMenuTopLevelSelectedText
{
	font-weight:bold;
	line-height: 2.0;
	padding: 0px 10px;
}

.horizontalMenuTopLevelSelectedLeaf
{
	background-color: #abcff8;
	padding: 0px;
	min-width:150px;
}

.horizontalMenuTopLevelSelectedLeafText
{
	font-weight:bold;
	line-height: 2.0;
	padding: 0px 10px;
}

.horizontalMenuItem
{
	background-color: #F2F2F2; 
	border: #999999 solid 1px; 
	padding: 0px;	
}

.horizontalMenuTopLevel ul, .horizontalMenuItem ul, .horizontalMenuTopLevelSelected ul{
	
}

.horizontalMenuItemText
{
	color: #404040;
	padding: 0px;
	line-height: 2.0;
	padding: 0px 10px;
}

.horizontalMenuLeaf
{
	background-color: #F2F2F2; 
	border: #999999 solid 1px; 
	padding: 0px;
	min-width:150px;
}

.horizontalMenuLeaf:hover
{
	background-color: #abcff8;
}


.horizontalMenuLeafText
{
	color: #404040;
	line-height: 2.0;
	padding: 0px 10px;
}

.horizontalMenuSelected
{
	background-color: #abcff8;
	border: #999999 solid 1px;
	padding: 0px;
}

.horizontalMenuSelectedText
{
	font-weight:bold;
	line-height: 2.0;
	padding: 0px 10px;
}

.horizontalMenuSelectedLeaf
{	
	background-color: #abcff8;
	border: #999999 solid 1px;
	padding: 0px;
}

.horizontalMenuSelectedLeafText
{
	font-weight:bold;
	line-height: 2.0;
	padding: 0px 10px;
}



/***********************************
Start Control Vertical Menu
***********************************/
.verticalMenu
{
	cursor: pointer;
	background-color: #ededed;
	padding:5px;
	margin-right:10px;
	min-width:150px;
}
/****************************
Vertical Menu Dropdown level
*****************************/
.verticalMenuBackground
{
	background-color:white;
	padding:2px;
}

.verticalMenuTopLevel ul, .verticalMenuItem ul, .verticalMenuTopLevelSelected ul, .verticalMenuSelected ul{
	border-bottom: #999999 solid 1px;
}

.verticalMenuItem
{
	padding: 2px;
	background-color:white;
}

.verticalMenuItemText
{
	color: black;
	padding:5px;
}

.verticalMenuLeaf
{
	padding: 2px;
	background-color:white;
}
.verticalMenuLeafText
{
	color: black;
	padding:5px;
}
.verticalMenuSelected
{
	padding: 2px;
	background-color:rgb(255,255,153);
}
.verticalMenuSelectedText
{
	color: black;
	padding:5px;
}
.verticalMenuSelectedLeaf
{
	padding: 2px;
	background-color:rgb(255,255,153);
}
.verticalMenuSelectedLeafText
{
	color: black;
	padding:5px;
}
/*****************************
Vertical Menu Top(First)-Level
******************************/
.verticalMenuTopLevelBackground
{
	padding: 2px;
}

.verticalMenuTopLevel
{

	padding: 2px;
}

.verticalMenuTopLevel:hover
{
	padding: 2px;
}

.verticalMenuTopLevelText
{
	color: black;
	padding:5px;
}

.verticalMenuTopLevelLeaf
{
	min-width:100px;
	padding: 2px 2px;
	border-left:#999999 solid 2px;
}

.verticalMenuTopLevelLeaf:hover
{
	padding: 2px 2px;
	border-left:#4b8ac7 solid 2px;
}

.verticalMenuTopLevelLeafText
{
	color: black;
	padding:5px;
	line-height:3;
}

.verticalMenuTopLevelLeafText:hover
{
	color: #4b8ac7;
	padding:5px;
	font-weight:bold;
	
}

.verticalMenuTopLevelSelectedLeaf
{
	padding: 2px;
	border-left: #8b820b solid 2px;
	line-height:3;
}
.verticalMenuTopLevelSelectedLeafText
{
	font-weight:bold;
	padding:5px;
	color:#8b820b;
}
.verticalMenuTopLevelSelected
{
	padding: 2px;	
}
.verticalMenuTopLevelSelectedText
{
	color: black;
	padding:5px;
}
/**************************
Vertical Menu Second-Level
***************************/
.verticalMenuSecondLevelBackground
{
}
.verticalMenuSecondLevel
{
	padding: 2px 2px;
}
.verticalMenuSecondLevelText
{
	color: black;
	padding:5px;
	line-height: 3;
}
.verticalMenuSecondLevelLeaf
{
	padding: 2px 2px;

}
.verticalMenuSecondLevelLeafText
{
	color: black;
	padding:5px;

}
.verticalMenuSecondLevelSelected
{
	background-color: #CCCCFF;
	padding: 2px 2px;
}
.verticalMenuSecondLevelSelectedText
{
	color: black;
	padding:5px;
}
.verticalMenuSecondLevelSelectedLeaf
{
	background-color: #CCCCFF;
	padding: 2px 2px;
}
.verticalMenuSecondLevelSelectedLeafText
{
	color: black;
	padding:5px;
}
/**************************
Vertical Menu Third-Level
***************************/
.verticalMenuThirdLevelBackground
{
	background-color: #cccccc;
}
.verticalMenuThirdLevel
{
	background-color: #cccccc;
	padding: 0px;
}
.verticalMenuThirdLevelText
{
	color: #404040;
	padding: 10px;
	line-height: 3;
}
.verticalMenuThirdLevelLeaf
{
	background-color: #cccccc;
	padding: 0px;
}
.verticalMenuThirdLevelLeafText
{
	color: #404040;
	padding: 10px;
	line-height: 2.0;
}
.verticalMenuThirdLevelSelected
{
	background-color: #666666;
	padding: 0px;
}
.verticalMenuThirdLevelSelectedText
{
	color: #BDCF4A;
	padding: 10px;
}
.verticalMenuThirdLevelSelectedLeaf
{
	background-color: #666666;
	padding: 0px;
}
.verticalMenuThirdLevelSelectedLeafText
{
	color: #BDCF4A;
	padding: 10px;
}
/**************************
Vertical Menu Fourth-Level
***************************/
.verticalMenuFourthLevelBackground
{
	background-color: #cccccc;
}
.verticalMenuFourthLevel
{
	background-color: #cccccc;
	padding: 0px;
}
.verticalMenuFourthLevelText
{
	color: #404040;
	padding: 10px;
	line-height: 3;
}
.verticalMenuFourthLevelLeaf
{
	background-color: #cccccc;
	padding: 0px;
	border: #999999 solid 1px;
}
.verticalMenuFourthLevelLeafText
{
	color: #404040;
	padding: 10px;

}
.verticalMenuFourthLevelSelected
{
	background-color: #666666;
	padding: 0px;
}
.verticalMenuFourthLevelSelectedText
{
	color: #BDCF4A;
	padding: 10px;
}
.verticalMenuFourthLevelSelectedLeaf
{
	background-color: #666666;
	padding: 0px;
}
.verticalMenuFourthLevelSelectedLeafText
{
	color: #BDCF4A;
	padding: 10px;
}
/********************************
Text Control
********************************/
.textControl
{
	text-align:left;
}
/********************************
Start Menu Item
********************************/
.menuItemImage
{
	border:none;
}

/* System Styles */

.mainblock
{
margin-top:0.5em;
}

.mainblockNoBorder
{
margin-top:0.5em;
}
/* Highlight Styles */

.BFIELD
{

color:#000000;
background-color:#FF0000;
text-align:left;
font-weight:normal;
font-style:normal;
}

.TAB_IN
{

color:#000000;
background-color:#EEEEEE;
text-align:left;
font-weight:normal;
font-style:normal;
}

.TAB_OUT
{

color:#000000;
background-color:#CCCCFF;
text-align:left;
font-weight:normal;
font-style:normal;
}

.WARNING
{
color:#CC3333;
font-weight:bold;
}

.WTABLE
{

color:red;
text-align:left;
font-style:normal;
}

.STABLE
{

color:rgb(0,0,0);
text-align:left;
font-style:normal;
background-color:silver;
}

.SICKTABLES
{

color:red;
text-align:left;
font-style:normal;
}

.SICKTABLEC
{

color:#AD6C10;
text-align:left;
font-style:normal;
}

.ALTABLE
{

color:rgb(0,153,0);
text-align:left;
font-style:normal;
}

.ALRTABLE
{

color:#AC20CC;
text-align:left;
font-style:normal;
}

.OTHTABLE
{

color:rgb(0,0,204);
text-align:left;
font-style:normal;
}

.BANKTABLE
{

color:rgb(0,0,0);
text-align:left;
font-style:normal;
}

.ALERT
{
	color:#000000;
	background-color:#FFCC33;
	text-align:left;
	font-weight:normal;
	font-style:normal;
}

.ATABLE
{

	color:rgb(153,153,0);
	text-align:left;
	font-style:normal;
}

.RED
{
	color:#FF0000;
	background-color:#FFFFFF;
	text-align:left;
	font-weight:normal;
	font-style:normal;
}

.NEWRED
{
	color:#FF0000;
	text-align:left;
	font-weight:normal;
	font-style:normal;
}



.mandatory label {
	color: red !important;

}

/* Tooltip Styling */

.eb-LAYOUT {
	/*float: left;*/
	clear:left;
	/*margin-bottom:30px;*/
}

.ui-tooltip {
	background: #666;
	color: white;
	border: none;
	padding: 0;
	opacity: 1;
	font-size:0.8em;
}

.ui-tooltip-content {
	position: relative;
	padding: 1em;
}

.ui-tooltip-content::after {
	content: '';
	position: absolute;
	border: 1px solid;
	display: block;
	width: 0;
}

.right .ui-tooltip-content::after {
	top: 10px;
	left: -10px;
	border-color:
	transparent #666;
	border-width: 10px 10px 10px 0;
} 

/**** Chosen Dropdown Override Styling *****/

.chosen-container-single .chosen-single {
   	border-radius: 5px;
   	color: #000;
	border: 1px solid #ccc;
	font-family: "PT Sans";
	background:none;
	box-shadow:none;
	height:auto;
	padding:3px 6px;
	min-width:130px;
	/*
	background-color: #E8EEEF;
	background-image:none;
	border: 1px solid #CCCCCC;
    border-radius: 5px;
	outline: 0 none;
    box-shadow: 0 0 3px #FFFFFF inset, 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #000000;
    padding: 1px 5px;
	min-width:120px;
	/*z-index:400;*/
}

.chosen-single:hover {
	box-shadow: 0 0 7px 0 #5271da;
}

.chosen-container-hover .chosen-single {
	-webkit-box-shadow: 0px 0px 7px 0px #5271DA;
    -moz-box-shadow: 0px 0px 7px 0px #5271DA;
    box-shadow: 0px 0px 7px 0px #5271DA;
}

.chosen-container-active.chosen-with-drop .chosen-single {
    background-image: none;
    box-shadow: 0 0 2px 0 #5271da;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.chosen-container .chosen-drop {
   	border-radius: 5px;
   	color: #000;
   	padding: 6px;
	box-shadow: 0 0 2px 0 #5271da;
	font-family: "PT Sans";
/*
	border-left: 1px solid #CB8916;
	border-right: 1px solid #CB8916;
	border-bottom: 1px solid #CB8916;
    box-shadow: 0 1px 0 #FFFFFF inset;
	border-radius: 3px;
	background-color: #E8EEEF;
	
*/
}

.chosen-container-single .chosen-single div {
    padding: 4px 0;
}

.chosen-container-single .chosen-drop {
    background-clip: padding-box;
    border-radius: 0 0 3px 3px;
    margin-top: -1px;
	min-width: 130px;
}

.chosen-container .chosen-drop {
 
}

.chosen-container-single .chosen-search input[type="text"] {
	width:100%;
}

.tableErrorMessage
{
	color: #FF0000;
	border-bottom: #FF0000 solid 1px;
	font-weight: normal;
	padding: 0.3em;
	font-style: italic;
	background-color: #F2F2F2;
}
.tableWarningMessage
{
	background-color: rgb(255,255,255);
	padding: 0.3em;
	color: rgb(102,102,255);
	font-weight: normal;
}

.inputCellHighlight {
	background-color: #F28A8A;
	border-radius: 5px;
	padding:5px;
	width: auto !important;
}

.inputColour {
	padding:3px 20px;
	border: 1px solid;
	border-radius:5px;
	text-align: center;
}

.Warning {
	background-color: #e7ef62 !important;
}

.Danger {
	background-color: #ea7986 !important;
}

.Success {
	background-color: #c7dea1 !important;
}

.Info {
	background-color: #51C2F9 !important;
}

.SLA_OK {
	background: url(images/pb_Green.png) #ccc repeat-x 50% 50%;
}

.SLA_WARNING {
	background: url(images/pb_Yellow.png) #ccc repeat-x 50% 50%;
}

.SLA_CRITICAL {
	background: url(images/pb_Red.png) #ccc repeat-x 50% 50%;
}

/* MENU OVERRIDES */

.sm-blue, .sm-blue a {
	background-color: #37587e;
	background-image: none;
}

.sm-blue a:link {
	color: #fff;
}

.sm-blue ul li a:link {
	color: #37587e;
}

.sm-blue ul li a:hover {
	color: #fff;
}

.sm-blue a, .sm-blue a:hover, .sm-blue a:focus, .sm-blue a:active {
	font-family: "PT Sans";
	font-size: 12pt; 
}

.sm-blue a, .sm-blue a:hover, .sm-blue a:focus, .sm-blue a:active, .sm-blue a.highlighted {
	padding: 5px 24px 13px 24px;
}

.sm-blue ul a, .sm-blue ul a:hover, .sm-blue ul a:focus, .sm-blue ul a:active {
	font-size: 12pt;
}

.sm-blue ul a, .sm-blue ul a:hover, .sm-blue ul a:focus, .sm-blue ul a:active, .sm-blue ul a.highlighted {
	padding: 5px 10px;
}

.sm-blue > li {
    border-left: 1px solid #fff;
}