/* DEFAULT sheet styles */

.ebBodyDEFAULT
{
background-color: #FFFFFF;
font-size:100%;
margin:0%;
}

.ebFormHeaderDEFAULT
{
font-family:"Arial","Verdana","Helvetica","sans-serif";
font-size:1.7em;
color:#FFFFFF;
background-color:#000066;
text-align:center;
font-weight:bold;
font-style:normal;
white-space:nowrap;
}

.ebPageHeaderDEFAULT
{
font-family:"Arial","Helvetica","sans-serif";
font-size:1.1em;
color:#000000;
background-color:#FFFFFF;
text-align:left;
font-weight:bold;
font-style:normal;
width:100%;
}

.ebPageInfoDEFAULT
{
font-family:"Verdana","Arial","Helvetica";
font-size:0.8em;
color:#7171FF;
background-color:#FFFFFF;
text-align:left;
font-weight:normal;
font-style:normal;
padding:0.3em;
width:100%;
}

.ebPageTrailerDEFAULT
{
font-family:"Verdana","Arial","Helvetica";
font-size:0.8em;
color:#7171FF;
background-color:#FFFFFF;
text-align:left;
font-weight:normal;
font-style:normal;
padding:0.3em;
width:100%;
}

.ebLegacyButtonTable
{
border-spacing:2px 2px ;
width:100%;
margin:0.25em 0 0.25em auto;
}

.ebPagePanel
{
width:100%;
}

.ebPanelDEFAULT
{
margin-left:0.5em;
margin-right:0.1em;
margin:0 auto 0 auto;
}

.ebGroupHeaderDEFAULT
{
font-family:"Verdana","Arial","sans-serif";
font-size:0.8em;
color:#000000;
background-color:#CCCCFF;
text-align:left;
font-weight:bold;
font-style:normal;
padding:0.3em;
width:100%;
}

.ebGroupInfoDEFAULT
{
font-family:"Verdana","Arial","sans-serif";
font-size:0.8em;
color:#7171FF;
background-color:#FFFFFF;
text-align:left;
font-weight:normal;
font-style:normal;
padding:0.3em;
width:100%;
}

.ebGroupTrailerDEFAULT
{
font-family:"Verdana","Arial","sans-serif";
font-size:0.8em;
color:#7171FF;
background-color:#FFFFFF;
text-align:left;
font-weight:normal;
font-style:normal;
padding:0.3em;
width:100%;
}

.ebGroupBorderDEFAULT
{
border-collapse:collapse;
width:100%;
margin:0.25em auto 0.25em auto;
}

.ebGroupContentDEFAULT
{
padding-left:0.5em;
padding-top:0.1em;
}

.ebFieldGridTableDEFAULT
{
border:solid #336699 0px;
border-collapse:collapse;
width:100%;
}

.ebFieldLabelDEFAULT
{
font-family:"Verdana","Arial","sans-serif";
font-size:0.8em;
color:#000000;
vertical-align:top;
font-weight:normal;
font-style:normal;
}

.ebFieldEditorDEFAULT
{
font-family:"Verdana","Arial","sans-serif";
font-size:0.8em;
color:#000000;
vertical-align:top;
font-weight:normal;
font-style:normal;
}

.ebFieldHelpDEFAULT
{
font-family:"Arial","Verdana","Helvetica","sans-serif";
font-size:0.8em;
color:#000000;
font-weight:normal;
font-style:normal;
}

.ebFieldPatternDEFAULT
{
font-family:"Verdana","Arial","sans-serif";
font-size:10px;
color:#000000;
vertical-align:top;
font-weight:normal;
font-style:normal;
padding-left:4px;
}

.ebFieldLabelCellDEFAULT
{
background-color:#FFFFFF;
text-align:left;
vertical-align:top;
padding:2px;
}

.ebFieldEditorCellDEFAULT
{
background-color:#FFFFFF;
text-align:left;
vertical-align:top;
padding:2px;
}

.ebFieldHelpCellDEFAULT
{
background-color:#FFFFFF;
text-align:left;
vertical-align:top;
padding:2px;
}

.ebFinalPageTable
{
width:96%;
border-collapse:collapse;
text-align:center;
}

.ebFinalPageInfo
{
font-family:"Arial","Verdana","Helvetica","sans-serif";
font-size:0.8em;
color:#7171FF;
background-color:#FFFFFF;
text-align:left;
font-weight:normal;
font-style:normal;
}

.ebFinalPageHeading
{
font-family:"Arial","Verdana","Helvetica","sans-serif";
font-size:0.8em;
color:#000000;
background-color:#FFFFFF;
text-align:left;
font-weight:normal;
font-style:normal;
}

.ebFinalPageMessages
{
font-family:"Arial","Verdana","Helvetica","sans-serif";
font-size:0.8em;
color:#000000;
background-color:#FFFFFF;
text-align:left;
font-weight:normal;
font-style:normal;
}

.ebErrorMessageDEFAULT
{
font-family:"Arial","Verdana","Helvetica","sans-serif";
font-size:0.8em;
color:#FFFFFF;
background-color:#CC0000;
text-align:left;
font-weight:bold;
font-style:normal;
}

.ebWarningMessageDEFAULT
{
font-family:"Arial","Verdana","Helvetica","sans-serif";
font-size:0.8em;
color:#000000;
background-color:#FFCC00;
text-align:left;
font-weight:normal;
font-style:normal;
}

.ebErrorTableMessageDEFAULT
{
font-family:"Arial","Verdana","Helvetica","sans-serif";
font-size:0.8em;
color:#FFFFFF;
background-color:#CC0000;
text-align:left;
font-weight:bold;
font-style:normal;
border:solid #CCCCCC 2px;
}

.ebWarningTableMessageDEFAULT
{
font-family:"Arial","Verdana","Helvetica","sans-serif";
font-size:0.8em;
color:#000000;
background-color:#FFCC00;
text-align:left;
font-weight:normal;
font-style:normal;
border:solid #CCCCCC 2px;
}

.ebInfoPopupDEFAULT
{
font-family:"Arial","Verdana","Helvetica","sans-serif";
font-size:0.8em;
color:#000000;
background-color:#FFFFFF;
text-align:left;
font-weight:normal;
font-style:normal;
}

.ebTableOuterDEFAULT
{
border:solid #000066 1px;
border-collapse:collapse;
}

.ebTableGridDEFAULT
{
border-collapse:collapse;
width:100%;
margin:auto;
}

.ebTableHeaderDEFAULT
{
font-family:"Verdana","Arial";
font-size:0.8em;
color:#FFFFFF;
background-color:#9999FF;
text-align:left;
font-weight:normal;
font-style:normal;
}

.ebTableInfoDEFAULT
{
font-family:"Verdana","Arial";
font-size:0.8em;
color:#666666;
background-color:#FFFFFF;
text-align:left;
font-weight:normal;
font-style:normal;
}

.ebTableTrailerDEFAULT
{
font-family:"Verdana","Arial";
font-size:0.8em;
color:#666666;
background-color:#FFFFFF;
text-align:left;
font-weight:normal;
font-style:normal;
}

.ebTableColumnHeaderDEFAULT
{
border:solid #CCCCCC 2px;
font-family:"Verdana","Arial";
font-size:0.8em;
color:#000000;
background-color:#EAEABB;
text-align:left;
font-weight:normal;
font-style:normal;
padding:3px;
}

.ebTablePattern
{
font-size:10px;
}

.ebTableAddRowDEFAULT
{
font-family:"Verdana","Arial";
font-size:0.8em;
color:#000000;
background-color:#EAEABB;
text-align:left;
font-weight:normal;
font-style:normal;
}

.ebTableRowCellDEFAULT
{
border:solid #CCCCCC 2px;
background-color:#EEEEEE;
text-align:left;
vertical-align:top;
padding:3px;
}

td.ebSelectDeleteColumnClass
{
text-align:center;
}

.ebTableRowDataDEFAULT
{
font-family:"Verdana","Arial";
font-size:0.8em;
color:#000000;
font-weight:normal;
font-style:normal;
}

.ebTableRowInfoDEFAULT
{
font-family:"Verdana","Arial";
font-size:0.8em;
color:#000000;
background-color:#FFFFFF;
text-align:left;
font-weight:normal;
font-style:normal;
}

a.ebTablePageNumDEFAULT
{
font-family:"Verdana","Arial";
font-size:1.0em;
color:#3333FF;
text-decoration:none;
font-weight:normal;
}

a.ebTablePageNumDEFAULT:active
{
font-family:"Verdana","Arial";
font-size:1.0em;
color:#FF0000;
text-decoration:none;
font-weight:normal;
}

a.ebTablePageNumDEFAULT:hover
{
font-family:"Verdana","Arial";
font-size:1.0em;
color:#3333FF;
text-decoration:none;
font-weight:normal;
}

a.ebTableNavDEFAULT
{
font-family:"Verdana","Arial";
font-size:1.0em;
color:#CC6600;
text-decoration:none;
font-weight:normal;
}

a img.ebTableNavDEFAULT
{
border:none;
}

a img.ebTablePageNavDEFAULT
{
border:none;
}

a img.ebTableSortDEFAULT
{
border:none;
}

a.ebTableNavDEFAULT:active
{
font-family:"Verdana","Arial";
font-size:1.0em;
color:#FF0000;
text-decoration:none;
font-weight:normal;
}

a.ebTableNavDEFAULT:hover
{
font-family:"Verdana","Arial";
font-size:1.0em;
color:#CC6600;
text-decoration:none;
font-weight:normal;
}

.ebTableCurrentPageNumDEFAULT
{
font-family:"Verdana","Arial";
font-size:1.0em;
color:#000000;
text-align:center;
font-weight:normal;
font-style:normal;
text-decoration:none;
}

.ebGridDEFAULT
{
width:100%;
}

.ebGridStyleDEFAULT
{
width:100%;
}

.ebGridCellStyleDEFAULT
{
vertical-align:top;
}

.verticalLayoutTableDEFAULT
{
width:100%;
}
/* S_65_35 sheet styles */

.ebFormHeaderS6535
{
font-family:"Arial","Verdana","Helvetica","sans-serif";
font-size:1.7em;
color:#FFFFFF;
background-color:#0066CC;
text-align:center;
font-weight:bold;
font-style:normal;
white-space:nowrap;
}

.ebPageHeaderS6535
{
font-family:"Arial","Helvetica","sans-serif";
font-size:1.1em;
color:#666666;
background-color:#FFFFFF;
text-align:center;
font-weight:bold;
font-style:normal;
padding:0.3em;
width:100%;
}

.ebPageInfoS6535
{
font-family:"Verdana","Arial","Helvetica";
font-size:0.8em;
color:#336699;
background-color:#FFFFFF;
text-align:left;
font-weight:normal;
font-style:normal;
padding:0.3em;
width:100%;
}

.ebPageTrailerS6535
{
font-family:"Verdana","Arial","Helvetica";
font-size:0.8em;
color:#336699;
background-color:#FFFFFF;
text-align:left;
font-weight:normal;
font-style:normal;
padding:0.3em;
width:100%;
}

.ebPanelS6535
{
margin-left:0.5em;
margin-right:0.1em;
}

.ebGroupHeaderS6535
{
font-family:"Verdana","Arial","sans-serif";
font-size:0.8em;
color:#FFFF00;
background-color:#FF0000;
text-align:left;
font-weight:bold;
font-style:normal;
padding:0.3em;
width:100%;
}

.ebGroupInfoS6535
{
font-family:"Verdana","Arial","sans-serif";
font-size:0.8em;
color:#336699;
background-color:#FFFFFF;
text-align:left;
font-weight:normal;
font-style:normal;
padding:0.3em;
width:100%;
}

.ebGroupTrailerS6535
{
font-family:"Verdana","Arial","sans-serif";
font-size:0.8em;
color:#336699;
background-color:#FFFFFF;
text-align:left;
font-weight:normal;
font-style:normal;
padding:0.3em;
width:100%;
}

.ebGroupContentS6535
{
padding-left:0.5em;
padding-top:0.1em;
}

.ebFieldGridTableS6535
{
border:solid #999999 0px;
border-collapse:collapse;
width:100%;
margin:0.25em auto 0.25em auto;
}

.ebFieldLabelS6535
{
font-family:"Verdana","Arial","sans-serif";
font-size:0.8em;
color:#000000;
vertical-align:top;
font-weight:bold;
font-style:normal;
}

.ebErrorMessageS6535
{
font-family:"Arial","Verdana","Helvetica","sans-serif";
font-size:0.8em;
color:#FFFFFF;
background-color:#FF0000;
text-align:left;
font-weight:bold;
font-style:normal;
}

.ebWarningMessageS6535
{
font-family:"Arial","Verdana","Helvetica","sans-serif";
font-size:0.8em;
color:#000000;
background-color:#FFFF00;
text-align:left;
font-weight:normal;
font-style:normal;
}

.ebErrorTableMessageS6535
{
font-family:"Arial","Verdana","Helvetica","sans-serif";
font-size:0.8em;
color:#FFFFFF;
background-color:#FF0000;
text-align:left;
font-weight:bold;
font-style:normal;
border:solid #CCCCCC 2px;
}

.ebWarningTableMessageS6535
{
font-family:"Arial","Verdana","Helvetica","sans-serif";
font-size:0.8em;
color:#000000;
background-color:#FFFF00;
text-align:left;
font-weight:normal;
font-style:normal;
border:solid #CCCCCC 2px;
}

.ebTableOuterS6535
{
border-collapse:collapse;
}

.ebTableHeaderS6535
{
font-family:"Verdana","Arial";
font-size:0.8em;
color:#FFFF00;
background-color:#FF0000;
text-align:left;
font-weight:normal;
font-style:normal;
}

.ebGridS6535
{
width:100%;
}

.ebGridStyleS6535
{
width:100%;
}

.ebGridCellStyleS6535
{
vertical-align:top;
}

.verticalLayoutTableS6535
{
width:100%;
}
/* S_BOLD_LABELS sheet styles */

.ebFormHeaderSBOLDLABELS
{
font-family:"Arial","Verdana","Helvetica","sans-serif";
font-size:1.7em;
color:#FFFFFF;
background-color:#0066CC;
text-align:center;
font-weight:bold;
font-style:normal;
white-space:nowrap;
}

.ebPageHeaderSBOLDLABELS
{
font-family:"Arial","Helvetica","sans-serif";
font-size:1.1em;
color:#666666;
background-color:#FFFFFF;
text-align:center;
font-weight:bold;
font-style:normal;
padding:0.3em;
width:100%;
}

.ebPageInfoSBOLDLABELS
{
font-family:"Verdana","Arial","Helvetica";
font-size:0.8em;
color:#336699;
background-color:#FFFFFF;
text-align:left;
font-weight:normal;
font-style:normal;
padding:0.3em;
width:100%;
}

.ebPageTrailerSBOLDLABELS
{
font-family:"Verdana","Arial","Helvetica";
font-size:0.8em;
color:#336699;
background-color:#FFFFFF;
text-align:left;
font-weight:normal;
font-style:normal;
padding:0.3em;
width:100%;
}

.ebPanelSBOLDLABELS
{
margin-left:0.5em;
margin-right:0.1em;
}

.ebGroupHeaderSBOLDLABELS
{
font-family:"Verdana","Arial","sans-serif";
font-size:0.8em;
color:#FFFF00;
background-color:#FF0000;
text-align:left;
font-weight:bold;
font-style:normal;
padding:0.3em;
width:100%;
}

.ebGroupInfoSBOLDLABELS
{
font-family:"Verdana","Arial","sans-serif";
font-size:0.8em;
color:#336699;
background-color:#FFFFFF;
text-align:left;
font-weight:normal;
font-style:normal;
padding:0.3em;
width:100%;
}

.ebGroupTrailerSBOLDLABELS
{
font-family:"Verdana","Arial","sans-serif";
font-size:0.8em;
color:#336699;
background-color:#FFFFFF;
text-align:left;
font-weight:normal;
font-style:normal;
padding:0.3em;
width:100%;
}

.ebGroupContentSBOLDLABELS
{
padding-left:0.5em;
padding-top:0.1em;
}

.ebFieldGridTableSBOLDLABELS
{
border:solid #999999 0px;
border-collapse:collapse;
width:100%;
margin:0.25em auto 0.25em auto;
}

.ebFieldLabelSBOLDLABELS
{
font-family:"Verdana","Arial","sans-serif";
font-size:0.8em;
color:#000000;
vertical-align:top;
font-weight:bold;
font-style:normal;
}

.ebErrorMessageSBOLDLABELS
{
font-family:"Arial","Verdana","Helvetica","sans-serif";
font-size:0.8em;
color:#FFFFFF;
background-color:#FF0000;
text-align:left;
font-weight:bold;
font-style:normal;
}

.ebWarningMessageSBOLDLABELS
{
font-family:"Arial","Verdana","Helvetica","sans-serif";
font-size:0.8em;
color:#000000;
background-color:#FFFF00;
text-align:left;
font-weight:normal;
font-style:normal;
}

.ebErrorTableMessageSBOLDLABELS
{
font-family:"Arial","Verdana","Helvetica","sans-serif";
font-size:0.8em;
color:#FFFFFF;
background-color:#FF0000;
text-align:left;
font-weight:bold;
font-style:normal;
border:solid #CCCCCC 2px;
}

.ebWarningTableMessageSBOLDLABELS
{
font-family:"Arial","Verdana","Helvetica","sans-serif";
font-size:0.8em;
color:#000000;
background-color:#FFFF00;
text-align:left;
font-weight:normal;
font-style:normal;
border:solid #CCCCCC 2px;
}

.ebTableHeaderSBOLDLABELS
{
font-family:"Verdana","Arial";
font-size:0.8em;
color:#FFFF00;
background-color:#9999FF;
text-align:left;
font-weight:normal;
font-style:normal;
}

.ebGridSBOLDLABELS
{
width:100%;
}

.ebGridStyleSBOLDLABELS
{
width:100%;
}

.ebGridCellStyleSBOLDLABELS
{
vertical-align:top;
}

.verticalLayoutTableSBOLDLABELS
{
width:100%;
}

/* Menu Style */

.tabSet
{
	width: 100%;
}
.tabSetContent
{
background-color:rgb(255,255,255);
}

.groupPanel .tabSet{
	width: 99%;
background-color:rgb(255,255,255);
}
/***********************************
Start Control Tab
***********************************/
.tabImage
{
	height:16px;
	border:none;
background-color:rgb(255,255,255);
background-image:none;
}
/***********************************
Start Control Horizontal Menu
***********************************/
.horizontalMenu
{
	cursor: pointer;
	border: #999999 solid 0px;
	background-color: #F2F2F2; 
	width: 100%;
}
.pagePanelTable .horizontalMenu{
	width: 99.9%;
}
.groupPanel .horizontalMenu{
	width: 99%;
}
.horizontalMenuTopLevel
{
	background-color: #F2F2F2; 
	border: solid 0px; 
	border-right: #999999 solid 1px; 
	padding: 0px;
	vertical-align: middle;
font-family:Arial, Helvetica, sans-serif;
}
.horizontalMenuTopLevelText
{
	color: #404040;
	vertical-align: middle;
	padding: 0px 10px;
	line-height: 2.0;
font-family:Arial, Helvetica, sans-serif;
}
.horizontalMenuTopLevelLeaf
{
	background-color: #F2F2F2; 
	border: solid 0px; 
	border-right: #999999 solid 1px; 
	padding: 0px;
font-family:Arial, Helvetica, sans-serif;
}
.horizontalMenuTopLevelLeafText
{
	font-family:Arial, Helvetica, sans-serif;
	color: #404040;
	line-height: 2.0;
	padding: 0px 10px;
}
.horizontalMenuTopLevelSelected
{	
	background-color: #666666;
	border: solid 0px;
	border-right:#666666 solid 1px;
	padding: 0px;
font-family:Arial, Helvetica, sans-serif;
}
.horizontalMenuTopLevelSelectedText
{
	color: #BDCF4A;
	line-height: 2.0;
	padding: 0px 10px;
font-family:Arial, Helvetica, sans-serif;
}
.horizontalMenuTopLevelSelectedLeaf
{
	background-color: #666666;
	border: solid 0px;
	border-right: #666666 solid 1px;
	padding: 0px;
font-family:Arial, Helvetica, sans-serif;
}
.horizontalMenuTopLevelSelectedLeafText
{
	color: #BDCF4A;
	line-height: 2.0;
	padding: 0px 10px;
font-family:Arial, Helvetica, sans-serif;
}
.horizontalMenuItem
{
	background-color: #F2F2F2; 
	border: #999999 solid 1px; 
	border-bottom: 0px; 
	padding: 0px;	
font-family:Arial, Helvetica, sans-serif;
}
.horizontalMenuTopLevel ul, .horizontalMenuItem ul, .horizontalMenuTopLevelSelected ul{
	border-bottom: #999999 solid 1px;
font-family:Arial, Helvetica, sans-serif;
}
.horizontalMenuItemText
{
	color: #404040;
	padding: 0px;
	line-height: 2.0;
	padding: 0px 10px;
font-family:Arial, Helvetica, sans-serif;
}
.horizontalMenuLeaf
{
	background-color: #F2F2F2; 
	border: #999999 solid 1px; 
	border-bottom: 0px; 
	padding: 0px;
font-family:Arial, Helvetica, sans-serif;
}
.horizontalMenuLeafText
{
	color: #404040;
	line-height: 2.0;
	padding: 0px 10px;

font-family:Arial, Helvetica, sans-serif;
}
.horizontalMenuSelected
{
	background-color: #666666;
	border: #999999 solid 1px;
	border-bottom: 0px; 
	padding: 0px;
font-family:Arial, Helvetica, sans-serif;
}
.horizontalMenuSelectedText
{
	color: #BDCF4A;
	line-height: 2.0;
	padding: 0px 10px;
font-family:Arial, Helvetica, sans-serif;
}
.horizontalMenuSelectedLeaf
{	
	background-color: #666666;
	border: #999999 solid 1px;
	border-bottom: 0px; 
	padding: 0px;
font-family:Arial, Helvetica, sans-serif;
}
.horizontalMenuSelectedLeafText
{
	color: #BDCF4A;
	line-height: 2.0;
	padding: 0px 10px;
font-family:Arial, Helvetica, sans-serif;
}
/***********************************
Start Control Vertical Menu
***********************************/
.verticalMenu
{
	cursor: pointer;
	border-top: #999999 solid 1px;
}
/****************************
Vertical Menu Dropdown level
*****************************/
.verticalMenuBackground
{
	background-color:white;
padding:2px;
}

.verticalMenuTopLevel ul, .verticalMenuItem ul, .verticalMenuTopLevelSelected ul, .verticalMenuSelected ul{
	border-bottom: #999999 solid 1px;
}

.verticalMenuItem
{
	border-top: #999999 solid 1px;
	border-left: #999999 solid 1px;
	border-right: #999999 solid 1px;
	padding: 2px;
	border-top: #999999 solid 1px;
	background-color:white;
}
.verticalMenuItemText
{
	color: black;
	font-size:small;
	font-family:Arial, Helvetica, sans-serif;
	padding:5px;
	line-height: 2.0;
}
.verticalMenuLeaf
{
	border-top: #999999 solid 1px;
	border-left: #999999 solid 1px;
	border-right: #999999 solid 1px;
	padding: 2px;
	background-color:white;
}
.verticalMenuLeafText
{
	color: black;
	font-size:small;
	font-family:Arial, Helvetica, sans-serif;
	padding:5px;
	line-height: 2.0;
}
.verticalMenuSelected
{
	border-top: #666666 solid 1px;
	border-left: #666666 solid 1px;
	border-right: #666666 solid 1px;
	padding: 2px;
	background-color:rgb(255,255,153);
}
.verticalMenuSelectedText
{
	color: black;
	font-size:small;
	font-family:Arial, Helvetica, sans-serif;
	padding:5px;
	line-height: 2.0;
}
.verticalMenuSelectedLeaf
{
	border-top: #666666 solid 1px;
	border-left: #666666 solid 1px;
	border-right: #666666 solid 1px;
	padding: 2px;
	background-color:rgb(255,255,153);
}
.verticalMenuSelectedLeafText
{
	color: black;
	font-size:small;
	font-family:Arial, Helvetica, sans-serif;
	padding:5px;
	line-height: 2.0;
}
/*****************************
Vertical Menu Top(First)-Level
******************************/
.verticalMenuTopLevelBackground
{
	padding: 2px;
}
.verticalMenuTopLevel
{
	border-bottom: #999999 solid 1px;
	border-left: #999999 solid 1px;
	border-right: #999999 solid 1px;
	padding: 2px;
	background-color:white;
}
.verticalMenuTopLevelText
{
	color: black;
	font-size:small;
	font-family:Arial, Helvetica, sans-serif;
	padding:5px;
	line-height: 2.0;
}
.verticalMenuTopLevelLeaf
{
	border-bottom: #999999 solid 1px;
	border-left: #999999 solid 1px;
	border-right: #999999 solid 1px;
	padding: 2px 2px;
	background-color:white;
}
.verticalMenuTopLevelLeafText
{
	color: black;
	font-size:small;
	font-family:Arial, Helvetica, sans-serif;
	padding:5px;
	line-height: 2.0;
}
.verticalMenuTopLevelSelectedLeaf
{
	border-bottom: #666666 solid 1px;
	border-left: #666666 solid 1px;
	border-right: #666666 solid 1px;
	padding: 2px;
	background-color:rgb(255,255,153);
}
.verticalMenuTopLevelSelectedLeafText
{
	color: black;
	font-size:small;
	font-family:Arial, Helvetica, sans-serif;
	padding:5px;
	line-height: 2.0;
}
.verticalMenuTopLevelSelected
{
	border-bottom: #666666 solid 1px;
	border-left: #666666 solid 1px;
	border-right: #666666 solid 1px;
	padding: 2px;	
	background-color:rgb(255,255,153);
}
.verticalMenuTopLevelSelectedText
{
	color: black;
	font-size:small;
	font-family:Arial, Helvetica, sans-serif;
	padding:5px;
	line-height: 2.0;
}
/**************************
Vertical Menu Second-Level
***************************/
.verticalMenuSecondLevelBackground
{
}
.verticalMenuSecondLevel
{
	/*border-bottom: #999999 solid 1px;*/
	border-left: #999999 solid 1px;
	border-right: #999999 solid 1px;
	padding: 2px 2px;
	border-top: #999999 solid 1px;
}
.verticalMenuSecondLevelText
{
	color: black;
	font-size:small;
	font-family:Arial, Helvetica, sans-serif;
	padding:5px;
	line-height: 2.0;
}
.verticalMenuSecondLevelLeaf
{
	padding: 2px 2px;
	border-left: #999999 solid 1px;
	border-right: #999999 solid 1px;
	border-top: #999999 solid 1px;
}
.verticalMenuSecondLevelLeafText
{
	color: black;
	font-size:small;
	font-family:Arial, Helvetica, sans-serif;
	padding:5px;
	line-height: 2.0;
}
.verticalMenuSecondLevelSelected
{
	background-color: #CCCCFF;
	border-left: #999999 solid 1px;
	border-right: #999999 solid 1px;
	border-top: #999999 solid 1px;
	padding: 2px 2px;
}
.verticalMenuSecondLevelSelectedText
{
	color: black;
	font-size:small;
	font-family:Arial, Helvetica, sans-serif;
	padding:5px;
	line-height: 2.0;
}
.verticalMenuSecondLevelSelectedLeaf
{
	background-color: #CCCCFF;
	border-left: #999999 solid 1px;
	border-right: #999999 solid 1px;
	border-top: #999999 solid 1px;
	padding: 2px 2px;
}
.verticalMenuSecondLevelSelectedLeafText
{
	color: black;
	font-size:small;
	font-family:Arial, Helvetica, sans-serif;
	padding:5px;
	line-height: 2.0;
}
/**************************
Vertical Menu Third-Level
***************************/
.verticalMenuThirdLevelBackground
{
	background-color: #cccccc;
}
.verticalMenuThirdLevel
{
	border-left: #999999 solid 1px;
	border-right: #999999 solid 1px;
	border-top: #999999 solid 1px;
	background-color: #cccccc;
	padding: 0px;
}
.verticalMenuThirdLevelText
{
	color: #404040;
	padding: 10px;
	line-height: 2.0;
}
.verticalMenuThirdLevelLeaf
{
	background-color: #cccccc;
	padding: 0px;
	border-left: #999999 solid 1px;
	border-right: #999999 solid 1px;
	border-top: #999999 solid 1px;
}
.verticalMenuThirdLevelLeafText
{
	color: #404040;
	padding: 10px;
	line-height: 2.0;
}
.verticalMenuThirdLevelSelected
{
	background-color: #666666;
	border-left: #999999 solid 1px;
	border-right: #999999 solid 1px;
	border-top: #999999 solid 1px;
	padding: 0px;
}
.verticalMenuThirdLevelSelectedText
{
	color: #BDCF4A;
	padding: 10px;
	line-height: 2.0;
}
.verticalMenuThirdLevelSelectedLeaf
{
	background-color: #666666;
	padding: 0px;
	border-left: #999999 solid 1px;
	border-right: #999999 solid 1px;
	border-top: #999999 solid 1px;
}
.verticalMenuThirdLevelSelectedLeafText
{
	color: #BDCF4A;
	padding: 10px;
	line-height: 2.0;
}
/**************************
Vertical Menu Fourth-Level
***************************/
.verticalMenuFourthLevelBackground
{
	background-color: #cccccc;
}
.verticalMenuFourthLevel
{
	border-bottom: #999999 solid 1px;
	border-left: #999999 solid 1px;
	border-right: #999999 solid 1px;
	background-color: #cccccc;
	padding: 0px;
	border-top: #999999 solid 1px;
}
.verticalMenuFourthLevelText
{
	color: #404040;
	padding: 10px;
	line-height: 2.0;
}
.verticalMenuFourthLevelLeaf
{
	background-color: #cccccc;
	padding: 0px;
	border: #999999 solid 1px;
}
.verticalMenuFourthLevelLeafText
{
	color: #404040;
	padding: 10px;
	line-height: 2.0;
}
.verticalMenuFourthLevelSelected
{
	background-color: #666666;
	padding: 0px;
}
.verticalMenuFourthLevelSelectedText
{
	color: #BDCF4A;
	padding: 10px;
	line-height: 2.0;
}
.verticalMenuFourthLevelSelectedLeaf
{
	background-color: #666666;
	padding: 0px;
}
.verticalMenuFourthLevelSelectedLeafText
{
	color: #BDCF4A;
	padding: 10px;
	line-height: 2.0;
}
/********************************
Text Control
********************************/
.textControl
{
	font-family:"Arial","Helvetica","sans-serif";
}
/********************************
Start Menu Item
********************************/
.menuItemImage
{
	border:none;
}

/* System Styles */

.mainblock
{
margin-top:0.5em;
}

.mainblockNoBorder
{
margin-top:0.5em;
}
/* Highlight Styles */

.BFIELD
{
font-family:"Verdana","Arial","sans-serif";
font-size:0.8em;
color:#000000;
background-color:#FF0000;
text-align:left;
font-weight:normal;
font-style:normal;
}

.GFIELD
{
font-family:"Verdana","Arial","sans-serif";
font-size:0.8em;
color:#000000;
background-color:#18FF20;
text-align:left;
font-weight:normal;
font-style:normal;
}

.TAB_IN
{
font-family:"Verdana","Arial";
font-size:0.8em;
color:#000000;
background-color:#EEEEEE;
text-align:left;
font-weight:normal;
font-style:normal;
}

.TAB_OUT
{
font-family:"Verdana","Arial";
font-size:0.8em;
color:#000000;
background-color:#CCCCFF;
text-align:left;
font-weight:normal;
font-style:normal;
}

.WARNING
{
font-family:"Verdana","Arial","sans-serif";
font-size:0.85em;
color:#FF0000;
background-color:#FFFFFF;
text-align:left;
font-weight:normal;
font-style:normal;
}

.WTABLE
{
font-family:"Verdana","Arial","sans-serif";
font-size:0.8em;
color:red;
text-align:left;
font-style:normal;
}

.STABLE
{
font-family:"Verdana","Arial","sans-serif";
font-size:0.8em;
color:rgb(0,0,0);
text-align:left;
font-style:normal;
background-color:silver;
}

.BF5
{
text-align:left;
background-color:#878AFF;
font-family:Verdana, Arial, Helvetica, sans-serif;
color:#000000;
}

.SICKTABLES
{
font-family:"Verdana","Arial","sans-serif";
font-size:0.8em;
color:red;
text-align:left;
font-style:normal;
}

.SICKTABLEC
{
font-family:"Verdana","Arial","sans-serif";
font-size:0.8em;
color:#AD6C10;
text-align:left;
font-style:normal;
}

.ALTABLE
{
font-family:"Verdana","Arial","sans-serif";
font-size:0.8em;
color:rgb(0,153,0);
text-align:left;
font-style:normal;
}

.ALRTABLE
{
font-family:"Verdana","Arial","sans-serif";
font-size:0.8em;
color:#AC20CC;
text-align:left;
font-style:normal;
}

.OTHTABLE
{
font-family:"Verdana","Arial","sans-serif";
font-size:0.8em;
color:rgb(0,0,204);
text-align:left;
font-style:normal;
}

.BANKTABLE
{
font-family:"Verdana","Arial","sans-serif";
font-size:0.8em;
color:rgb(0,0,0);
text-align:left;
font-style:normal;
}

.ALERT
{
font-family:"Verdana","Arial";
font-size:0.8em;
color:#000000;
background-color:#FFCC33;
text-align:left;
font-weight:normal;
font-style:normal;
}

.ATABLE
{
font-family:"Verdana","Arial","sans-serif";
font-size:0.8em;
color:rgb(153,153,0);
text-align:left;
font-style:normal;
}

.RED
{
font-family:"Verdana","Arial","sans-serif";
font-size:0.85em;
color:#FF0000;
background-color:#FFFFFF;
text-align:left;
font-weight:normal;
font-style:normal;
}

.NEWRED
{
font-size:0.85em;
color:#FF0000;
text-align:left;
font-weight:normal;
font-style:normal;
}